header .my-page {
    color: #5575ff;
}

.meta-wrapper {
    min-height: calc(100vh - 220px);
}

.top-space {
    height: 60px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-width: 1200px;
    min-height: 100%;
}

.title {
    font-size: 40px;
    margin: 40px;
}

.content_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 850px;
}

.wrapper_inner {
    width: 100%;
    padding: 50px 0px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
}

.wrapper_inner p {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.wrapper_inner p a {
    text-decoration: none;
    color: rgb(50, 108, 249);

}

.wrapper_inner_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrapper_inner_list {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px 0px;
}

.list_right_content_photo img {
    width: 24px;
    height: 24px;
}

.list_left {
    font-size: 15px;
    font-weight: 400;
    width: 130px;
    text-align: center;
}

.list_right {
    height: 46px;
    padding: 0px 8px 0px 10px;
    font-size: 14px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    appearance: none;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
}

.list_title {
    padding: 0px 16px;
    font-size: 16px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    width: 100%;
    height: 44px;
}

.list_content {
    font-size: 16px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    resize: none;
    width: 100%;
    height: 263px;
    padding: 20px;
}

.list_right_1 {
    display: flex;
    flex-direction: column;
}

.list_right_content_photo {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 106px;
    height: 106px;
    border-radius: 2px;
    border: 1px solid rgb(223, 223, 223);
    background-color: transparent;
    cursor: pointer;
}

.list_right_content_photo button {
    margin-top: 4px;
    font-size: 13px;
    font-weight: 400;
    border: none;
    z-index: -1;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.list_right_bottom {
    margin-top: 16px;
}

.list_right_bottom p {
    font-size: 12px;
    font-weight: 400;
    height: 18px;
}

.wrapper_inner_3 {
    width: 100%;
    margin: 50px 0px;
    margin-left: 43px;
    display: flex;
    justify-content: center;
}

.row-btn-1 {
    padding: 9px 40px;  
    font-size: 18px;
}

.wrapper_inner_4 {
    width: 850px;
    height: 90px;
    margin: 0px 100px 260px 0;
    padding: 25px 0px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 2px;
    text-align: center;
    margin-left: 43px;
}

.wrapper_inner_4 p {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.inner_4_top span {
    color: rgb(50, 108, 249);
    font-size: 18px;
    font-weight: 400;
}

#my-input {
    visibility: hidden;
}