body {
    font-family: 'Pretendard-Regular';
    color: #3b5987;

}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    padding: 0;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-width: 1200px;
    min-height: 100%;
}

.inquiry_wrapper {
    height: calc(100vh - 220px);
}

.wrapper {
    width: 100%;
}

.wrapper div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 278px;
}

.title {
    margin: 79px 0 71px;
    font-size: 46px;
    line-height: 50px;
    letter-spacing: -1px;
}

.item {
    flex: 0 0 auto;
    display: flex;
    width: 1180px;
    height: 64px;
    margin: 0px auto;
}

.item li {
    width: 100%;
    height: 100%;
}

.item li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid rgb(237, 237, 237);
    text-decoration: none;
    color: black;
}

/* main */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 100px;

}

.main_title {
    display: flex;
    width: 1180px;
}

.main_content {
    display: flex;
    flex-direction: column;
    width: 1180px;
}

.main_content_title {
    display: flex;
    width: 1180px;
    height: 64px;
    margin: 0px auto;
}

.main_content_title div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid rgb(237, 237, 237);
    text-decoration: none;
    color: black;
}

.main_content_1 {
    display: flex;
    height: 60px;
}

.main_content_1 div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid rgb(237, 237, 237);
    text-decoration: none;
    color: black;
}

.main_content_1 .main_content_choice {
    display: flex;
    flex-direction: column;
}

