@media only screen and (max-width:1400px) {
  body {
    width: 1385px;
  }
}

@media only screen and (max-width:1350px) {
  body {
    overflow-x: scroll;
  }
}

@import "compass/css3";

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

header .contents {
  color: #5575ff;
}

body {
  display: flex;
  flex-direction: column;
}

.meta-wrapper {
  height: 100%;
}

.top-space {
  position: relative;
  width: 100%;
  height: 60px;
  flex: none;
}

.contents-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}


.left-side {
  position: relative;
  width: 300px;
  height: inherit;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid silver;
}

.left-side img {
  width: 40px;
  padding: 5px;
  margin-right: 30px;
  border: 1px solid #869bb9;
  border-radius: 50%;
}

.left-side .youtube-index img {
  position: relative;
  padding-left: 7px;
  padding-right: 3px;
}

.left-side .text {
  font-size: 25px;
  font-weight: 900;
}

.left-side .index {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.left-side .index:not(.active-index):hover {
  background-color: #f1f7ff;
  border: 1px solid #4169fc;
  color: #4169fc;
  transition: 0.5s;
}

.left-side .index:not(.active-index):hover img {
  filter: invert(44%) sepia(72%) saturate(6018%) hue-rotate(222deg) brightness(106%) contrast(98%);
  transition: 0.5s;
}

.active-index {
  background: linear-gradient(45deg, rgb(122 170 211 / 90%), rgba(53, 94, 252, .90)), url(../../../img/images/bg.png);
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.active-index img {
  border: 1px solid black;
  filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
  transition: 0.3s;
}

.right-side {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  position: absolute;
  top: -50px;
  width: 100%;
  height: calc(100% + 100px);
  background-color: white;
  background-image: url(/img/icon/loading-square.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  opacity: 0.6;
  display: none;
  mix-blend-mode: hard-light;
}

.article-wrapper .loading {
  top: -100px;
}

.right-side .head {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
  z-index: 1;
}

.right-side .head .title {
  height: 36px;
  display: flex;
}

.right-side .head .title .icon {
  width: 50px;
  height: 50px;
  filter: invert(30%) sepia(30%) saturate(879%) hue-rotate(177deg) brightness(98%) contrast(89%);
  margin-right: 5px;
}

.right-side .head .title .text {
  height: 100%;
  font-size: 25px;
  font-family: 'KOHIBaeumOTF';
  line-height: 46px;
}

.right-side .head .keyword {
  display: flex;
}

.right-side .head .keyword .text {
  font-size: 20px;
  font-weight: 900;
  margin: 10px 20px;
}

.right-side .head .keyword .text:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.right-side .body {
  position: relative;
  width: 100%;
}

.active-keyword {
  color: rgb(56, 126, 255);
  font-weight: 900;
}

.article {
  width: 100%;
  border: 1px solid #869bb9;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 30%);
  padding: 40px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.article:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

.article b {
  color: #fff389;
}

.article .title {
  font-size: 18px;
  font-family: 'KOHIBaeumOTF';
  color: white;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.article .description {
  font-size: 16px;
  font-weight: 900;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.article .date {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.article:nth-child(1) {
  background: linear-gradient(20deg, rgba(0, 105, 225, 0.8), rgba(0, 105, 225, 0.8)), url(../../../img/images/bg_fr_01.jpg);
  background-size: cover;
}

.article:nth-child(2) {
  background: linear-gradient(20deg, rgb(0 174 196 / 80%), rgb(0 174 196 / 80%)), url(../../../img/images/bg_fr_02.jpg);
  background-size: cover;
}

.article:nth-child(3) {
  background: linear-gradient(20deg, rgba(11, 64, 111, 0.8), rgba(11, 64, 111, 0.8)), url(../../../img/images/bg_fr_03.jpg);
  background-size: cover;
}

.article:nth-child(4) {
  background: linear-gradient(20deg, rgb(0 165 255 / 80%), rgb(0 165 255 / 80%)), url(../../../img/images/bg_fr_04.jpg);
  background-size: cover;
}

.youtube-wrapper {
  width: 90%;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  align-self: start;
}

.youtube-wrapper .body {
  height: 100%;
}

.youtube-wrapper .row-1 {
  width: 100%;
  height: 50%;
  display: flex;
  margin-bottom: 40px;
}

.youtube-wrapper .row-2 {
  width: 100%;
  height: 50%;
  display: flex;
}

.youtube-box {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.youtube-box:first-child {
  margin-right: 40px
}

.youtube {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  background-image: url("/img/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #c9d6e6;
  border: 1px solid #8faeff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.youtube-box .info-box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.youtube-box .title {
  position: absolute;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'KOHIBaeumOTF';
}

.youtube-box .sub-info {
  position: relative;
  margin-top: 25px;
  display: flex;
}

.youtube-box .channel {
  position: relative;
  margin-right: 40px;
}

.youtube-box .channel::before {
  content: '';
  position: absolute;
  top: 20%;
  right: -20px;
  width: 2px;
  height: 70%;
  background-color: #b0c2db;
}

.iframe-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  aspect-ratio: 16/9;
  z-index: 101;
  display: none;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 black;
}

.iframe-close {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(255 255 255 / 50%);
  filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
}

.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.5s ease,
    opacity 0.5s ease;
}

.icon {
  transform: scale(.8);
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
}

#play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  filter: invert(33%) sepia(64%) saturate(795%) hue-rotate(199deg) brightness(100%) contrast(98%) drop-shadow(0px 0px 1px black);
  mix-blend-mode: hard-light;
}

#play .stroke-solid {
  stroke-width: 10px !important;
  transform: translate(10px, 10px);
  filter: drop-shadow(0 0 2px black);
}

#play:hover .stroke-solid {
  opacity: 1;
  stroke-dashoffset: 300;
}

#play .icon {
  filter: drop-shadow(0 0 5px black);
  transform: scale(.8) translate(10px, 10px);
}

#play:hover .icon {
  filter: drop-shadow(0 0 5px black);
  transform: scale(.9) translate(10px, 10px);
}

.pagenation-wrapper {
  position: relative;
  height: 40px;
  margin: 40px auto;
  text-align: center;
}

.pagenation {
  position: relative;
  top: 20px;
  display: inline-block;
  width: 310px;
}

.pagenation .btn-left {
  position: absolute;
  top: 2px;
  left: 0px;
  display: inline-block;
  width: 20px;
  cursor: pointer;
}

.pagenation .btn-right {
  position: absolute;
  top: 2px;
  right: 0px;
  display: inline-block;
  width: 20px;
  cursor: pointer;
}

.pagenation a {
  display: inline-block;
  min-width: 19px;
  margin: 0 5px;
  border-radius: 50%;
  line-height: 19px;
  cursor: pointer;
  text-decoration: none;
  font-family: 'KOHIBaeumOTF';
}

.active-page {
  color: #568eff;
  font-weight: 900;
}

.controller {
  display: flex;
  margin-top: 40px;
  font-size: 20px;
  font-family: 'KOHIBaeumOTF';
}

.controller .btn-left,
.controller .btn-right {
  padding: 60px;
  padding-bottom: 0;
}

.controller .btn-left:hover,
.controller .btn-right:hover {
  color: #4169fc;
  transform: scale(1.05);
  transition: 0.3s;
}