<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/layout-content/admin/access-mng.css">
</th:block>
<th:block layout:fragment="script">
    <script src="/js/layout-content/admin/access-mng.js"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 접속 관리</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <div class="modal-background"></div>
    <div class="alert-window block-cancel-alert">
        <div class="info">
            <div class="text">차단을 해제하겠습니까?</div>
            <div class="data"></div>
        </div>
        <button class="cancel" onclick="hideAlert(this)">취소</button>
        <button class="okay" onclick="blockCancel()">확인</button>
    </div>
    <div class="content-wrapper">
        <div th:replace="/layout/fragments/admin-nav :: admin-nav"></div>
        <div class="right-side">
            <div class="head" id="page-title" data-value="접속 관리">ㅣ 접속 관리</div>
            <div class="body">
                <div class="body-head">
                    <div class="sub-head">
                        <a class="text access-log-title" href="/admin/access-mng/log" data-value="log">엑세스 로그</a>
                        <a class="text member-blacklist-title" href="/admin/access-mng/member" data-value="member">회원 차단
                            목록</a>
                        <a class="text ip-blacklist-title active-text" href="/admin/access-mng/ip" data-value="ip">IP 차단
                            목록</a>
                    </div>
                    <div class="search-wrapper">
                        <form class="search">
                            <div class="input-wrapper">
                                <select class="search-by" name="searchBy">
                                    <option value="id" th:selected="${searchUtils?.searchBy} == 'id'">차단 관리 ID</option>
                                    <option value="ip" th:selected="${searchUtils?.searchBy} == 'ip'">IP</option>
                                </select>
                                <input class="search-input" name="keyword" type="text" placeholder="검색어를 입력하세요."
                                    th:value="${searchUtils?.keyword}">
                                <img class="reset" src="/img/icon/x-circle.svg"
                                    onclick="location.href='/admin/access-mng/ip'">
                                <img class="icon" src="/img/icon/search-icon.svg" onclick="submit()">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="contents member-blacklist-box">
                    <div class="top">
                        <div class="blacklist-id">차단 관리 ID</div>
                        <div class="ip">IP</div>
                        <div class="reason">차단 사유</div>
                        <div class="reg-date">등록 일시</div>
                        <div class="exp-date">만료 일시</div>
                    </div>
                    <row class="member-blacklist row" th:each="blacklist : ${ipBlacklists}" th:id="${blacklist.id}"
                        th:with="ipObj=${blacklist.ip}" th:if="${ipObj}">
                        <div class="blacklist-id" th:text="${blacklist.id}"></div>
                        <div id="ip" class="ip" th:text="${ipObj.ip}" th:data-value="${ipObj.ip}"></div>
                        <div class="reason" th:text="${blacklist.reason}"></div>
                        <div class="reg-date"
                            th:text="${#temporals.format(blacklist.regDate, 'yyyy년 MM월 dd일  HH:mm:ss')}"></div>
                        <div class="exp-date"
                            th:text="${#temporals.format(blacklist.expDate, 'yyyy년 MM월 dd일  HH:mm:ss')}"></div>
                        <a class="btn row-btn-1 block-cancel-btn" data-type="ip">차단 해제</a>
                    </row>
                    <div class="pagination-wrapper">
                        <span class="pagination" th:with="
                        start=${T(java.lang.Math).floor(ipBlacklists.number/10)*10 + 1}, 
                        last=${ipBlacklists.totalPages},
                        totalPage=${ipBlacklists.totalPages},
                        currentPage=${ipBlacklists.number},
                        isFirst=${ipBlacklists.first},
                        isLast=${ipBlacklists.last}">
                            <a th:class="${isFirst} ? 'disable'" th:href="@{/admin/access-mng/ip(page=${currentPage})}">
                                <img class="controller-btn-left" src="/img/icon/btn_left.png">
                            </a>
                            <div class="index-box">
                                <a th:href="@{/admin/access-mng/ip(page=1)}"
                                    th:if="${totalPage < 4 ? false :currentPage > 1}" th:text="1" aria-label="First">
                                </a>
                                <span th:if="${totalPage < 4 ? false :currentPage > 1}">...</span>
                                <a th:each="page: ${#numbers.sequence(start, last)}"
                                    th:if="${isFirst ? (page == 0 ? false : page < currentPage + 4) :
                                    (isLast ? page > currentPage - 2 : (page < currentPage + 3) && (page > currentPage - 1))}"
                                    th:class="${page == currentPage + 1} ? 'active-index'" th:text="${page}"
                                    th:href="@{/admin/access-mng/ip(page=${page})}">
                                </a>
                                <span th:if="${totalPage < 4 ? false :currentPage < totalPage - 2}">...</span>
                                <a th:href="@{/admin/access-mng/ip(page=${totalPage})}"
                                    th:if="${totalPage < 4 ? false :currentPage < totalPage - 2}" th:text="${totalPage}"
                                    aria-label="Last">
                                </a>
                            </div>
                            <a th:class="${isLast} ? 'disable'"
                                th:href="@{/admin/access-mng/ip(page=${currentPage +2})}">
                                <img class="controller-btn-right" src="/img/icon/btn_right.png">
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>