<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/layout-content/admin/admin-mng.css">
</th:block>
<th:block layout:fragment="script">
    <script src="/js/layout-content/admin/admin-mng.js"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 운영진 관리</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <div class="content-wrapper">

        <div th:replace="/layout/fragments/admin-nav :: admin-nav"></div>

        <div class="right-side">
                <div class="head" id="page-title" data-value="운영진 관리">ㅣ 운영진 관리</div>
                <div class="body">
                    <div class="create-account-btn">계정 생성</div>
                    <div class="accounts-wrapper">
                        <div class="outer-box">
                            <div class="inner-box">
                                <div class="title">운영진 목록</div>
                                <div class="team-group plice">
                                    <div class="label">플라이스팀</div>
                                    <div class="members">
                                        <div class="member">최원석 [SUPER_ADMIN]</div>
                                        <div class="member">이현규 [ADMIN]</div>
                                        <div class="member">문태웅 [ADMIN]</div>
                                        <div class="member">윤수호 [ADMIN]</div>
                                    </div>
                                </div>
                                <div class="team-group client-support">
                                    <div class="label">고객지원팀</div>
                                    <div class="members">
                                        <div class="member">김ㅇㅇ [ADMIN]</div>
                                        <div class="member">이ㅇㅇ [ADMIN]</div>
                                        <div class="member">박ㅇㅇ [ADMIN]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="outer-box">
                            <div class="inner-box">
                                <div class="title">최원석 [SUPER_ADMIN]</div>
                                <form class="info-box">
                                    <div class="info-group">
                                        <div class="label">권한 정보</div>
                                        <div class="authority">
                                            <input name="admin-mng" type="checkbox" value=true>운영진 관리
                                        </div>
                                        <div class="authority">
                                            <input name="member-mng" type="checkbox" value=true>회원 관리
                                        </div>
                                        <div class="authority">
                                            <input name="chat-mng" type="checkbox" value=true>채팅 관리
                                        </div>
                                        <div class="authority">
                                            <input name="post-mng" type="checkbox" value=true>게시판 관리
                                        </div>
                                    </div>
                                    <div class="info-group">
                                        <div class="label">계정 정보</div>
                                        <div class="info">
                                            <div class="reg">
                                                <div class="date">
                                                    <div class="text">생성 일시 :</div>
                                                    <div class="data">2022-12-31  23:44:25</div>
                                                </div>
                                                <div class="member">
                                                    <div class="text">생성자 :</div>
                                                    <div class="data">최원석[SUPER_ADMIN]</div>
                                                </div>
                                            </div>
                                            <div class="mod">
                                                <div class="date">
                                                    <div class="text">수정 일시 :</div>
                                                    <div class="data">2023-01-12  12:33:21</div>
                                                </div>
                                                <div class="member">
                                                    <div class="text">수정자 :</div>
                                                    <div class="data">최원석[SUPER_ADMIN]</div>
                                                </div>
                                            </div>
                                            <div class="access">
                                                <div class="date">
                                                    <div class="text">접속 일시 :</div>
                                                    <div class="data">2023-01-12  12:33:21</div>
                                                </div>
                                                <div class="ip">
                                                    <div class="text">접속 IP :</div>
                                                    <div class="data">127.0.0.1</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="btn-box">
                                    <div class="save-btn">저장</div>
                                    <div class="delete-btn">계정 삭제</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


</html>