<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/layout-content/admin/post-mng.css">
</th:block>
<th:block layout:fragment="script">
    <script src="/js/layout-content/admin/post-mng.js"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 관리페이지</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <div class="content-wrapper">

        <div class="left-side">

            <div class="admin-management-index index active-index">
                <div class="icon-wrapper">
                    <img src="/img/icon/admin.svg">
                </div>
                <div class="text">운영진 관리</div>
            </div>

            <div class="user-management-index index">
                <div class="icon-wrapper">
                    <img src="/img/icon/people-fill.svg">
                </div>
                <div class="text">회원 관리</div>
            </div>

            <div class="chat-management-index index">
                <div class="icon-wrapper">
                    <img src="/img/icon/chat-text.svg">
                </div>
                <div class="text">채팅 관리</div>
            </div>

            <div class="post-management-index index">
                <div class="icon-wrapper">
                    <img src="/img/icon/board.svg">
                </div>
                <div class="text">게시판 관리</div>
            </div>

            <div class="site-chart-index index">
                <div class="icon-wrapper">
                    <img src="/img/icon/chart.svg">
                </div>
                <div class="text">사이트 통계</div>
            </div>

        </div>


        <div class="right-side">

            <div class="user-management">
                <div class="head">ㅣ 회원 관리</div>
                <div class="body">
                    <div class="search-wrapper">
                        <form class="search">
                            <div class="checkbox-wrapper">
                                <input type="checkbox"> 탈퇴 회원 제외
                            </div>
                            <div class="input-wrapper">
                                <select class="search-by" name="search-by">
                                    <option value="id">회원 관리 ID</option>
                                    <option value="phone">전화번호</option>
                                    <option value="name">이름</option>
                                    <option value="nickname">닉네임</option>
                                    <option value="birth">생년월일</option>
                                    <option value="email">이메일</option>
                                    <option value="role">권한</option>
                                    <option value="reg-date">가입일</option>
                                    <option value="del-date">탈퇴일</option>
                                </select>
                                <input class="search-input" type="text">
                                <img class="reset" src="/img/icon/x-circle.svg">
                                <img class="icon" src="/img/icon/search-icon.svg">
                            </div>
                        </form>
                    </div>
                    <div class="contents">
                        <div class="top">
                            <div class="id">회원 관리 ID</div>
                            <div class="phone">전화번호</div>
                            <div class="name">이름</div>
                            <div class="nickname">닉네임</div>
                            <div class="birth">생년월일</div>
                            <div class="email">이메일</div>
                            <div class="role">권한</div>
                            <div class="reg-date">가입일</div>
                            <div class="del-date">탈퇴일</div>
                        </div>

                        <form class="user-info">
                            <div><input class="id" value="1" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                        <form class="user-info">
                            <div><input class="id" value="2" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                        <form class="user-info">
                            <div><input class="id" value="3" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                        <form class="user-info">
                            <div><input class="id" value="4" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                        <form class="user-info">
                            <div><input class="id" value="5" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                        <form class="user-info">
                            <div><input class="id" value="6" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                        <form class="user-info">
                            <div><input class="id" value="7" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                        <form class="user-info">
                            <div><input class="id" value="8" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                        <form class="user-info">
                            <div><input class="id" value="9" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                        <form class="user-info">
                            <div><input class="id" value="10" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                        <form class="user-info">
                            <div><input class="id" value="11" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                        <form class="user-info">
                            <div><input class="id" value="12" disabled></div>
                            <div><input class="phone" value="010-1234-5678"></div>
                            <div><input class="name" value="테스트"></div>
                            <div><input class="nickname" value="유저11"></div>
                            <div><input class="birth" value="19910101"></div>
                            <div><input class="email" value="user11@plice.com"></div>
                            <div>
                                <select class="role">
                                    <option value="USER">USER</option>
                                    <option value="ADMIN">ADMIN</option>
                                </select>
                            </div>
                            <div><input class="reg-date" value="2022-12-01" disabled></div>
                            <div><input class="del-date" value="-" disabled></div>
                            <div class="btn modify">수정</div>
                            <div class="btn delete">탈퇴</div>
                        </form>

                    </div>

                    <div></div>
                </div>
            </div>
        </div>

    </div>
</div>


</html>