<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/layout-content/admin/site-chart.css">
</th:block>
<th:block layout:fragment="script">
    <script src="/js/layout-content/admin/site-chart.js"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 사이트 통계</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <div class="content-wrapper">

        <div th:replace="/layout/fragments/admin-nav :: admin-nav"></div>

        <div class="right-side">
            <div class="head" id="page-title" data-value="사이트 통계">ㅣ 사이트 통계</div>
            <div class="body">
                <div class="row-container">
                    <div class="hits-chart-box">
                        <div class="chart-box">
                            <div class="title-box">
                                <div class="title">
                                    <div class="text active-text" data-type="day">일간 방문 추이</div>
                                    <div class="text" data-type="month">월간 방문 추이</div>
                                    <div class="text" data-type="year">연간 방문 추이</div>
                                </div>
                                <div class="chart-type">
                                   <div class="type" data-type="total">전체</div>
                                   <div class="type active-text" data-type="page">페이지별</div>
                                </div>
                            </div>
                            <div id="chart"></div>
                            <div class="loading"></div>
                        </div>
                    </div>
                    <div class="day-chart-box">
                        <div class="title">일일 방문 분포 현황</div>
                        <div id="day-chart"></div>
                    </div>
                </div>
                <div class="row-container">
                    <div class="join-chart-box">
                        <div class="title-box">
                            <div class="title">신규 가입자 추이</div>
                        </div>
                        <div id="join-chart"></div>
                    </div>
                    <div class="search-chart-box">
                        <div class="title">검색어 현황</div>
                        <div id="search-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</html>