<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/layout-content/join/sign-up.css">
    <link rel="shortcut icon" href="/img/logo/plice.png" />
</th:block>
<th:block layout:fragment="script">
    <script src="/js/layout-content/join/sign-up.js"></script>
    <script src="https://kit.fontawesome.com/6b7a2f6a5d.js"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 회원가입</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <main class="sign_container">
        <h1 class="sign_title">회원가입</h1>
        <h6 class="sign_subtitle">
            환영합니다! Plice 서비스 이용약관에 동의해주세요.
        </h6>
        <label class="sign_all_checkbox">
            <input type="checkbox" name="all_check" class="term_check" id="all_check" />
            <p class="sign_checkbox_text"><strong>모두 동의합니다.</strong></p>
        </label>
        <div class="sign_term">
            <label class="sign_term_column">
                <input type="checkbox" name="term_check" class="term_check impl_btn" />
                <p class="sign_term_checkbox_text">[필수] 만 14세 이상입니다.</p>
            </label>
            <i class="fas fa-chevron-right fa-lg" data-arrow="1" onclick="location.href='/term-service'"></i>
            <label class="sign_term_column">
                <input type="checkbox" name="term_check" class="term_check impl_btn" />
                <p class="sign_term_checkbox_text">[필수] Plice 서비스 이용약관 동의</p>
            </label>
            <i class="fas fa-chevron-right fa-lg" data-arrow="2" onclick="location.href='/use-personal'"></i>
            <label class="sign_term_column">
                <input type="checkbox" name="term_check" class="term_check impl_btn" />
                <p class="sign_term_checkbox_text">[필수] 개인정보 수집 및 이용 동의</p>
            </label>
            <i class="fas fa-chevron-right fa-lg" data-arrow="3" onclick="location.href='/marketing'"></i>
            <label class="sign_term_column">
                <input type="checkbox" name="term_check" class="term_check" />
                <p class="sign_term_checkbox_text">[선택] 마케팅 정보 수신에 대한 동의</p>
            </label>
        </div>
        <div class="small_term">
            <p class="small_term_text">만 14세 이상 회원 가능합니다.</p>
            <p class="small_term_text">해당 내용은 <a href="/term-of-service" class="term-ser">이용약관 및 정책</a>에서도 확인이 가능합니다.
            </p>
        </div>
        <button class="sign_term_btn disable" onclick="location.href='/join'"><strong>동의하고 진행</strong></button>
    </main>
</div>

</html>