spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/plice?serverTimezone=Asia/Seoul
    username: root
    password: 1234

  profiles:
    include: oauth

  jpa:
#    open-in-view: false
    hibernate:
#      ddl-auto: create
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        default_batch_fetch_size: 1000

  data:
    web:
      pageable:
        default-page-size: 10

  mvc:
    hiddenmethod:
      filter:
        enabled: true

logging.level:
  org.hibernate.SQL: debug
#  org.hibernate.type: trace

thymeleaf:
  cache: false
  check-template-location: true
  prefix: classpath:templates/
  suffix: .html
  enabled: true

server:
  servlet:
    session:
      tracking-modes: cookie
  port: 8080