.sns_link {
  display: block;
  width: 48px;
  height: 48px;
}

.sns_option {
  display: flex;
  justify-content: center;
}

.sns_link {
  margin-right: 10px;
}

/* footer */
.opp_info {
  margin-top: 100px;
  text-align: center;
}

.opp_info a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
