<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/layout-content/chat/chat.css">
</th:block>
<th:block layout:fragment="script">
    <script src="/js/layout-content/chat/chat.js"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 채팅</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <div class="modal-background"></div>
    <div class="alert-window report-alert">
        <div class="info">
            <div class="report-reason-box">
                <div class="label">채팅 신고 사유</div>
                <select id="report-reason">
                    <option value="비속어·폭언·비하 등 부적절한 채팅">비속어·폭언·비하 등 부적절한 채팅</option>
                    <option value="갈등 조장 및 허위 사실 유포">갈등 조장 및 허위 사실 유포</option>
                    <option value="도배 및 광고">도배 및 광고</option>
                    <option value="기타 운영 규정 위반">기타 운영 규정 위반</option>
                </select>
            </div>
            <div class="text">※ 허위 신고 시 이용이 제한될 수 있습니다.</div>
        </div>
        <button class="cancel" onclick="hideAlert(this)">취소</button>
        <button class="okay" onclick="chatReport()">확인</button>
    </div>

    <div class="alert-window complete-alert">
        <div class="info">
            <div class="text">신고가 접수되었습니다.</div>
        </div>
        <button class="okay" onclick="hideAlert(this)">확인</button>
    </div>

    <div class="contents-wrapper">
        <div class="left-side">
            <div class="search-wrapper">
                <img class="icon" src="/img/icon/search-icon.svg">
                <input class="search-input" type="text" placeholder="아파트로 채팅방 검색">
                <img class="reset" src="/img/icon/x-circle.svg">
            </div>
            <div class="search-result-outer-wrapper">
                <div class="search-result-wrapper" id="search-input-results">
                    <div class="search-result-chat-room-wrapper">
                        <div class="search-result-chat-room" th:each="chatRoom : ${chatRooms}"
                            th:data-id="${chatRoom.id}" th:data-name="${chatRoom.apartData.name}"
                            th:data-member-count="${chatRoom.memberCount}">
                            <div class="inner-wrapper">
                                <div class="top-box">
                                    <div class="title">채팅방</div>
                                    <div class="member-count" th:text="${chatRoom.memberCount} + '명'"></div>
                                    <div class="join">참여하기 &gt;</div>
                                </div>
                                <div class="data" th:utext="${chatRoom.highlightName}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="null-wrapper" th:if="${myChatRooms == null}">
                <div class="null">현재 참여중인 채팅방이 없습니다.</div>
            </div>
            <div id="my-rooms">
                <div class="my-room" th:each="myChatRoom : ${myChatRooms}" th:data-id="${myChatRoom.id}"
                    th:data-name="${myChatRoom.apartData.name}" th:data-member-count="${myChatRoom.memberCount}">
                    <div class="profiles">
                        <div class="img-wrapper" th:each="member,i : ${myChatRoom.members}" th:if="${i.index} < 3">
                            <img th:src="${member.profileImgPath}">
                        </div>
                    </div>
                    <div class="info">
                        <div class="title">
                            <div class="text" th:text="${myChatRoom.apartData.name}"></div>
                            <div class="number" th:text="${myChatRoom.memberCount} + '명'"></div>
                        </div>
                        <div class="content"
                            th:text="${myChatRoom.lastChat == null ? '아직 채팅이 없습니다.' : myChatRoom.lastChat.content}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="notice-wrapper">
                <div class="notice">
                    <img src="/img/icon/notice.png">
                    <div class="text">[공지사항]</div>
                    <ul>
                        <li>공지사항 샘플 제목 1</li>
                        <li>공지사항 샘플 제목 2</li>
                        <li>공지사항 샘플 제목 3</li>
                        <li>공지사항 샘플 제목 4</li>
                        <li>공지사항 샘플 제목 5</li>
                        <li>공지사항 샘플 제목 1</li>
                    </ul>
                </div>
            </div>
            <div class="main-wrapper">
                <div class="chat-wrapper">
                    <div class="chat" id="chat" data-id="" sec:authorize="isAuthenticated()"
                        th:data-phone="${#authentication.principal.username}">
                        <div class="head">
                            <img class="exit-icon room-exit" src="/img/icon/chevron-left.svg">
                            <div class="exit room-exit">채팅방<br>나가기</div>
                            <div class="title">
                                <div class="data"></div>
                                <div class="member-count"></div>
                            </div>
                            <img class="close" src="/img/icon/close.png">
                        </div>
                        <div class="body" id="chat-box">
                            <div th:each="chats : ${chatsMap}">
                                <div th:each="chat,i : ${chats.value}" th:with="member = ${chat.member},
                                isInfo = ${chat.type == 'INFO'},
                                isMine = ${member.phone == #authentication.principal.username},
                                day = ${#temporals.day(chat.regDate)},
                                hour = ${#temporals.hour(chat.regDate)},
                                minute = ${#temporals.minute(chat.regDate)}"
                                    th:class="${isInfo} ? 'info-wrapper' : (${isMine} ? 'content-wrapper my-chat' : 'content-wrapper')">
                                    <div class="chats-day-line" th:if="${i.index} == 0"></div>
                                    <div class="chats-day" th:if="${i.index} == 0"
                                        th:text="${#temporals.format(chat.regDate, 'yyyy년 MM월 dd일 EEEE')}"></div>
                                    <div class="chat-box" th:data-id="${chat.id}">
                                        <div class='profile-wrapper' th:if="${!isMine && !isInfo}">
                                            <img th:src="${member.profileImgPath}">
                                        </div>
                                        <div class="name-date-box" th:if="${!isMine && !isInfo}">
                                            <strong th:text="${member.nickname}"></strong>
                                            <div class='date' th:text="(${hour} <= 12 ? '오전 ' + ${hour} : '오후 ' + (${hour} - 12))
                                                            + ':' + (${minute} < 10 ? '0' + ${minute} : ${minute})">
                                            </div>
                                        </div>
                                        <div class='content' th:text="${chat.content}"></div>
                                        <div class="report" th:if="${!isMine && !isInfo}">신고</div>

                                        <div class="name-date-box" th:if="${isMine && !isInfo}">
                                            <strong th:text="${member.nickname}"></strong>
                                            <div class='date' th:text="(${hour} <= 12 ? '오전 ' + ${hour} : '오후 ' + (${hour} - 12))
                                                            + ':' + (${minute} < 10 ? '0' + ${minute} : ${minute})">
                                            </div>
                                        </div>
                                        <div class='profile-wrapper' th:if="${isMine && !isInfo}">
                                            <img th:src="${member.profileImgPath}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="last-chat-viewer" th:if="${lastChat != null} and ${lastChat.member != null}"
                            th:classappend="${lastChat.member?.phone == #authentication.principal.username} ? 'isMine' : ''">
                            <img class="icon" src="/img/icon/chat-text.svg">
                            <div class="text"
                                th:text="${lastChat == null ? '' : (lastChat.member?.nickname + ' : ' + lastChat.content)}">
                            </div>
                            <img class="down" src="/img/icon/chevron-down.svg">
                        </div>
                        <form class="input-wrapper">
                            <textarea class="chat-input" type="text" placeholder="메시지를 입력하세요."></textarea>
                            <div class="regist-btn">
                                <div class="btn" id="chat-send">
                                    <img src="/img/icon/send-fill.svg">
                                </div>
                                <div class="count">0/300</div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="current-data-wrapper">
                    <div class="left-box">
                        <div class="text-1">플라이스에서</div>
                        <div class="text">현재</div>
                    </div>
                    <div class="data" th:data-num="${totalMemberCount}">0</div>
                    <div class="unit">명</div>
                    <div class="text">이 <strong>소통</strong>하고 있습니다.</div>
                </div>
                <div class="top3-wrapper">
                    <div class="head">
                        <div class="title">
                            <img class="icon" src="/img/icon/chat-text.svg">
                            <div class="text">채팅방 <strong>TOP3</strong></div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="popular">
                            <div class="room" th:each="chatRoom,i : ${top3}" th:data-id="${chatRoom.id}"
                                th:data-name="${chatRoom.apartData.name}"
                                th:data-member-count="${chatRoom.memberCount}">
                                <div class="back"></div>
                                <div class="title">
                                    <div class="number" th:text="${i.count}"></div>
                                    <div class="name" th:text="${chatRoom.apartData.name}"></div>
                                </div>
                                <div class="info">
                                    <img class="icon" src="/img/icon/people-fill.svg">
                                    <div class="text">현재</div>
                                    <div class="data" th:text="${chatRoom.memberCount}"></div>
                                    <div class="unit">명 참여중</div>
                                </div>
                                <div class="enter">입장하기 &gt;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>