<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/layout-content/home/home.css">
</th:block>
<th:block layout:fragment="script">
  <script src="/js/layout-content/home/home.js"></script>
</th:block>
<th:block layout:fragment="title">
  <title>PLICE ㅣ 홈</title>
</th:block>

<div layout:fragment="content">
  <div class="top-space"></div>
  <div class="modal-background"></div>
  <div class="contents-wrapper">
    <section class="cd-slider">
      <ul>
        <li data-color="#4169fc">
          <div class="content">
            <blockquote>
              <p>가장 쉽고 유용한 부동산 플랫폼</p>
              <span>아파트 실거래가를 가장 쉽고 빠르게!</span>
            </blockquote>
          </div>
        </li>
        <li data-color="#3b5987">
          <div class="content">
            <blockquote>
              <p>소통 잘 되는 아파트 커뮤니티</p>
              <span>실시간 채팅방, 게시판 운영 중!</span>
            </blockquote>
          </div>
        </li>
        <li data-color="#79aeff">
          <div class="content">
            <blockquote>
              <p>아파트를 구할 때 필요한 정보<br>플라이스에서 한눈에!</p>
              <span>신뢰할 수 있는 아파트 관련 공공데이터 제공</span>
            </blockquote>
          </div>
        </li>
      </ul>
      <nav>
        <div><a class="prev" href="#"></a></div>
        <div><a class="next" href="#"></a></div>
      </nav>
    </section>
    <div class="search-wrapper">
      <div class="head">
        <div class="title">찾으시는 것이 있나요?</div>
      </div>
      <div class="body">
        <div class="search-form">
          <img class="icon" src="/img/icon/search-icon.svg">
          <input class="search-input" type="text" placeholder="아파트 또는 지역명으로 검색">
          <img class="reset" src="/img/icon/x-circle.svg">
        </div>
        <div class="search-result-outer-wrapper">
          <div class="search-result-wrapper" id="search-input-results">
            <div class="search-result-apart-wrapper">
              <div class="search-result-apart" th:each="apartData : ${apartDataList}" th:data-value="${apartData.name}">
                <div class="inner-wrapper">
                  <div class="title">아파트</div>
                  <div id="apart-box">
                    <span class="data" th:utext="${apartData.highlightName}"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="search-result-address-wrapper">
              <div class="search-result-address" th:each="addressData : ${addressDataList}"
                th:data-value="${addressData.address}">
                <img src="/img/icon/geo-alt-fill.svg">
                <span class="data" th:utext="${addressData.highlightAddress}"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top3-wrapper">
      <div class="head">
        <div class="title">
          <img class="icon" src="/img/icon/chat-text.svg">
          <div class="text">채팅방 <strong>TOP3</strong></div>
        </div>
      </div>
      <div class="body">
        <div class="popular">
          <div class="room" th:each="chatRoom,i : ${chatRooms}" th:data-id="${chatRoom.id}"
            th:data-name="${chatRoom.apartData.name}" th:data-member-count="${chatRoom.memberCount}">
            <div class="back"></div>
            <div class="title">
              <div class="number" th:text="${i.count}"></div>
              <div class="name" th:text="${chatRoom.apartData.name}"></div>
            </div>
            <div class="info">
              <img class="icon" src="/img/icon/people-fill.svg">
              <div class="text">현재</div>
              <div class="data" th:text="${chatRoom.memberCount}"></div>
              <div class="unit">명 참여중</div>
            </div>
            <div class="enter">입장하기 &gt;</div>
          </div>
        </div>
      </div>
    </div>
    <div class="realty-contents-wrapper">
      <div class="head">
        <div class="title">
          <img class="icon" src="/img/icon/building-fill.svg">
          <div class="text">부동산 컨텐츠</div>
        </div>
        <div class="sort">
          <div class="text title-article active-sort">아티클</div>
          <div class="text title-youtube">유튜브</div>
        </div>
      </div>
      <div class="body">
        <div class="article-wrapper">
          <a class="article" th:each="searchResult: ${articles}" th:href="${searchResult.link}"
            th:data-page="${searchResult.page}" th:data-total-page="${searchResult.totalPage}">
            <div class="title" th:utext="${searchResult.title}"></div>
            <div class="description">
              <li th:utext="${searchResult.description}"></li>
            </div>
            <div class="date" th:text="${#dates.format(searchResult.date, 'yyyy년 MM월 dd일 HH:mm:ss')}"></div>
          </a>
        </div>
        <div class="youtube-wrapper">
          <div class="row-1">
            <div class="youtube-box">
              <div class="iframe-wrapper">
                <img class="iframe-close" src="/img/icon/close.png">
                <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <div class="youtube">
                <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="120px" width="120px"
                  viewBox="0 0 120 120" enable-background="new 0 0 120 120" xml:space="preserve">
                  <path class="stroke-solid" fill="none" stroke="#ddbe72"
                    d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7 C97.3,23.7,75.7,2.3,49.9,2.5" />
                  <path class="stroke-solid" fill="none" stroke="#ddbe72"
                    d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7 C97.3,23.7,75.7,2.3,49.9,2.5" />
                  <path class="icon" fill="#ddbe72"
                    d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                  <path class="icon" fill="#ddbe72"
                    d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                </svg>
              </div>
              <div class="info-box">
                <div class="title"></div>
                <div class="sub-info">
                  <div class="channel"></div>
                  <div class="date"></div>
                </div>
              </div>
            </div>
            <div class="youtube-box">
              <div class="iframe-wrapper">
                <img class="iframe-close" src="/img/icon/close.png">
                <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <div class="youtube">
                <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="120px" width="120px"
                  viewBox="0 0 120 120" enable-background="new 0 0 120 120" xml:space="preserve">
                  <path class="stroke-solid" fill="none" stroke="#ddbe72"
                    d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7 C97.3,23.7,75.7,2.3,49.9,2.5" />
                  <path class="stroke-solid" fill="none" stroke="#ddbe72"
                    d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7 C97.3,23.7,75.7,2.3,49.9,2.5" />
                  <path class="icon" fill="#ddbe72"
                    d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                  <path class="icon" fill="#ddbe72"
                    d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                </svg>
              </div>
              <div class="info-box">
                <div class="title"></div>
                <div class="sub-info">
                  <div class="channel"></div>
                  <div class="date"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row-2">
            <div class="youtube-box">
              <div class="iframe-wrapper">
                <img class="iframe-close" src="/img/icon/close.png">
                <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <div class="youtube">
                <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="120px" width="120px"
                  viewBox="0 0 120 120" enable-background="new 0 0 120 120" xml:space="preserve">
                  <path class="stroke-solid" fill="none" stroke="#ddbe72"
                    d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7 C97.3,23.7,75.7,2.3,49.9,2.5" />
                  <path class="stroke-solid" fill="none" stroke="#ddbe72"
                    d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7 C97.3,23.7,75.7,2.3,49.9,2.5" />
                  <path class="icon" fill="#ddbe72"
                    d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                  <path class="icon" fill="#ddbe72"
                    d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                </svg>
              </div>
              <div class="info-box">
                <div class="title"></div>
                <div class="sub-info">
                  <div class="channel"></div>
                  <div class="date"></div>
                </div>
              </div>
            </div>
            <div class="youtube-box">
              <div class="iframe-wrapper">
                <img class="iframe-close" src="/img/icon/close.png">
                <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <div class="youtube">
                <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="120px" width="120px"
                  viewBox="0 0 120 120" enable-background="new 0 0 120 120" xml:space="preserve">
                  <path class="stroke-solid" fill="none" stroke="#ddbe72"
                    d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7 C97.3,23.7,75.7,2.3,49.9,2.5" />
                  <path class="stroke-solid" fill="none" stroke="#ddbe72"
                    d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7 C97.3,23.7,75.7,2.3,49.9,2.5" />
                  <path class="icon" fill="#ddbe72"
                    d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                  <path class="icon" fill="#ddbe72"
                    d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
                </svg>
              </div>
              <div class="info-box">
                <div class="title"></div>
                <div class="sub-info">
                  <div class="channel"></div>
                  <div class="date"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notice-wrapper">
      <div class="notice">
        <img src="/img/icon/notice.png">
        <div class="text">[공지사항]</div>
        <ul>
          <a th:each="notice: ${notices}" th:text="${notice.title}"
            th:href="'/post/notice/detail?id=' + ${notice.id}"></a>
          <a th:each="notice,i: ${notices}" th:text="${notice.title}" th:href="'/post/notice/detail?id=' + ${notice.id}"
            th:if="${i.count} == 1"></a>
        </ul>
      </div>
    </div>
  </div>
</div>

</html>