<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
  <link rel="stylesheet" href="/css/layout-content/home/home.css">
</th:block>
<th:block layout:fragment="script">
  <script src="/js/layout-content/home/home.js"></script>
</th:block>
<th:block layout:fragment="title">
  <title>PLICE ㅣ 홈</title>
</th:block>

<div layout:fragment="content">
  <div class="top-space"></div>
  <div class="contents-wrapper">
    <section class="cd-slider">
      <ul>
        <li data-color="#4169fc">
          <div class="content">
            <blockquote>
              <p>가장 쉽고 유용한 부동산 플랫폼</p>
              <span>아파트 실거래가를 가장 쉽고 빠르게!</span>
            </blockquote>
          </div>
        </li>
        <li data-color="#3b5987">
          <div class="content">
            <blockquote>
              <p>소통 잘 되는 아파트 커뮤니티</p>
              <span>실시간 채팅방, 게시판 운영 중!</span>
            </blockquote>
          </div>
        </li>
        <li data-color="#79aeff">
          <div class="content">
            <blockquote>
              <p>아파트를 구할 때 필요한 정보<br>플라이스에서 한눈에!</p>
              <span>신뢰할 수 있는 아파트 관련 공공데이터 제공</span>
            </blockquote>
          </div>
        </li>
      </ul>
      <nav>
        <div><a class="prev" href="#"></a></div>
        <div><a class="next" href="#"></a></div>
      </nav>
    </section>
    <div class="search-wrapper">
      <div class="head">
        <div class="title">찾으시는 것이 있나요?</div>
        <div class="below">
          <div class="text apartData active-sort">아파트</div>
          <div class="text chart">채팅방</div>
        </div>
      </div>
      <div class="body">
        <form class="search-form">
          <img class="icon" src="/img/icon/search-icon.svg">
          <input type="text" placeholder="아파트 또는 지역명으로 검색">
          <img class="reset" src="/img/icon/x-circle.svg">
        </form>
      </div>
    </div>
    <div class="top3-wrapper">
      <div class="head">
        <div class="title">
          <img class="icon" src="/img/icon/chat-text.svg">
          <div class="text">채팅방 <strong>TOP3</strong></div>
        </div>
      </div>
      <div class="body">
        <div class="popular">
          <div class="room">
            <div class="back"></div>
            <div class="title">
              <div class="number">1</div>
              <div class="name">일원동 래미안개포루체하임</div>
            </div>
            <div class="info">
              <img class="icon" src="/img/icon/people-fill.svg">
              <div class="data">523</div>
              <div class="unit">명 참여중</div>
            </div>
            <div class="enter">입장하기 &gt;</div>
          </div>
          <div class="room">
            <div class="back"></div>
            <div class="title">
              <div class="number">2</div>
              <div class="name">잠실동 리센츠</div>
            </div>
            <div class="info">
              <img class="icon" src="/img/icon/people-fill.svg">
              <div class="data">475</div>
              <div class="unit">명 참여중</div>
            </div>
            <div class="enter">입장하기 &gt;</div>
          </div>
          <div class="room">
            <div class="back"></div>
            <div class="title">
              <div class="number">3</div>
              <div class="name">삼성동 삼성포스코더샵</div>
            </div>
            <div class="info">
              <img class="icon" src="/img/icon/people-fill.svg">
              <div class="data">298</div>
              <div class="unit">명 참여중</div>
            </div>
            <div class="enter">입장하기 &gt;</div>
          </div>
        </div>
        <div class="lastest">
          <div class="room">
            <div class="back"></div>
            <div class="title">
              <div class="number">1</div>
              <div class="name">잠원동 신반포메이플자이</div>
            </div>
            <div class="info">
              <div class="data">22.12.26</div>
              <div class="unit">OPEN</div>
            </div>
            <div class="enter">입장하기 &gt;</div>
          </div>
          <div class="room">
            <div class="back"></div>
            <div class="title">
              <div class="number">2</div>
              <div class="name">여의도동 아크로여의도더원</div>
            </div>
            <div class="info">
              <div class="data">22.12.24</div>
              <div class="unit">OPEN</div>
            </div>
            <div class="enter">입장하기 &gt;</div>
          </div>
          <div class="room">
            <div class="back"></div>
            <div class="title">
              <div class="number">3</div>
              <div class="name">삼성동 삼성포스코더샵</div>
            </div>
            <div class="info">
              <div class="data">22.12.22</div>
              <div class="unit">OPEN</div>
            </div>
            <div class="enter">입장하기 &gt;</div>
          </div>
        </div>
      </div>
    </div>
    <div class="realty-contents-wrapper">
      <div class="head">
        <div class="title">
          <img class="icon" src="/img/icon/building-fill.svg">
          <div class="text">부동산 컨텐츠</div>
        </div>
        <div class="sort">
          <div class="text title-article active-sort">아티클</div>
          <div class="text title-youtube">유튜브</div>
        </div>
      </div>
      <div class="body">
        <div class="article-wrapper">
          <div class="article">
            <div class="title">
              국내 <b>주식</b>형펀드서 사흘째 자금 순유출
            </div>
            <div class="description">
              국내 <b>주식</b>형 펀드에서 사흘째 자금이 빠져나갔다.
              26일 금융투자협회에 따르면 지난 22일 상장지수펀드(ETF)를 제외한
              국내 <b>주식</b>형 펀드에서 126억원이 순유출됐다.
              472억원이 들어오고 598억원이 펀드...
            </div>
            <div class="date">SEP 6, 2022</div>
          </div>
          <div class="article">
            <div class="title">
              국내 <b>주식</b>형펀드서 사흘째 자금 순유출
            </div>
            <div class="description">
              국내 <b>주식</b>형 펀드에서 사흘째 자금이 빠져나갔다.
              26일 금융투자협회에 따르면 지난 22일 상장지수펀드(ETF)를 제외한
              국내 <b>주식</b>형 펀드에서 126억원이 순유출됐다.
              472억원이 들어오고 598억원이 펀드...
            </div>
            <div class="date">SEP 6, 2022</div>
          </div>
          <div class="article">
            <div class="title">
              국내 <b>주식</b>형펀드서 사흘째 자금 순유출
            </div>
            <div class="description">
              국내 <b>주식</b>형 펀드에서 사흘째 자금이 빠져나갔다.
              26일 금융투자협회에 따르면 지난 22일 상장지수펀드(ETF)를 제외한
              국내 <b>주식</b>형 펀드에서 126억원이 순유출됐다.
              472억원이 들어오고 598억원이 펀드...
            </div>
            <div class="date">SEP 6, 2022</div>
          </div>
          <div class="article">
            <div class="title">
              국내 <b>주식</b>형펀드서 사흘째 자금 순유출
            </div>
            <div class="description">
              국내 <b>주식</b>형 펀드에서 사흘째 자금이 빠져나갔다.
              26일 금융투자협회에 따르면 지난 22일 상장지수펀드(ETF)를 제외한
              국내 <b>주식</b>형 펀드에서 126억원이 순유출됐다.
              472억원이 들어오고 598억원이 펀드...
            </div>
            <div class="date">SEP 6, 2022</div>
          </div>
        </div>
        <div class="youtube-wrapper">
          <div class="row-1">
            <div class="youtube">
              <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" height="100px" width="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
                xml:space="preserve">
                <path class="stroke-solid" fill="none" stroke="#ddbe72" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
                  C97.3,23.7,75.7,2.3,49.9,2.5" />
                <path class="icon" fill="#ddbe72"
                  d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
              </svg>
            </div>
            <div class="youtube">
              <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" height="100px" width="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
                xml:space="preserve">
                <path class="stroke-solid" fill="none" stroke="#ddbe72" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
                  C97.3,23.7,75.7,2.3,49.9,2.5" />
                <path class="icon" fill="#ddbe72"
                  d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
              </svg>
            </div>
          </div>
          <div class="row-2">
            <div class="youtube">
              <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" height="100px" width="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
                xml:space="preserve">
                <path class="stroke-solid" fill="none" stroke="#ddbe72" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
                  C97.3,23.7,75.7,2.3,49.9,2.5" />
                <path class="icon" fill="#ddbe72"
                  d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
              </svg>
            </div>
            <div class="youtube">
              <svg version="1.1" id="play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" height="100px" width="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
                xml:space="preserve">
                <path class="stroke-solid" fill="none" stroke="#ddbe72" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
                  C97.3,23.7,75.7,2.3,49.9,2.5" />
                <path class="icon" fill="#ddbe72"
                  d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notice-wrapper">
      <div class="notice">
        <img src="/img/icon/notice.png">
        <div class="text">[공지사항]</div>
        <ul>
          <li>공지사항 샘플 제목 1</li>
          <li>공지사항 샘플 제목 2</li>
          <li>공지사항 샘플 제목 3</li>
          <li>공지사항 샘플 제목 4</li>
          <li>공지사항 샘플 제목 5</li>
          <li>공지사항 샘플 제목 1</li>
        </ul>
      </div>
    </div>
  </div>
</div>

</html>