<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<footer th:fragment="footer">
    <p>
        (주)플라이스<br>
        사업자 번호: 000-00-00000&nbsp&nbsp&nbsp&nbsp통신판매업신고번호 : 제2023-서울 영등포-00000호<br>
        주소 : 서울특별시 영등포구 선유동2로 57 이레빌딩<br><br>

        고객센터 : 02-0000-0000 | 평일 10:00 ~ 18:30, 점심시간 : 12:00 ~ 13:00 (토·일요일, 공휴일 휴무)<br>
        팩스 : 02-000-0000&nbsp&nbsp&nbsp&nbsp프로모션/사업 제휴문의 : cerdure@gmail.com<br>
        PLICE, Inc. All rights reserved.
    </p>
    <div class="icons">
        <img src="/img/icon/instagram_mono.png">
        <img src="/img/icon/facebook_mono.png">
        <img src="/img/icon/blog_mono.png">
        <img src="/img/icon/naverpost_mono.png">
        <img src="/img/icon/youtube_mono.png">
    </div>
</footer>