<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<header th:fragment="header">
    <div class="logo-wrapper" onclick="location.href='/home'">
        <img src="/img/logo/plice.png">
        <div class="text">PLICE</div>
    </div>
    <div class="text-box"><span class="map" onclick="location.href='/map'">지도</span><div class="under-bar"></div></div>
    <div class="text-box"><span class="chat" onclick="location.href='/chat'">채팅</span><div class="under-bar"></div></div>
    <div class="text-box"><span class="post" onclick="location.href='/post-story'">이야기</span><div class="under-bar"></div></div>
    <div class="text-box"><span class="contents" onclick="location.href='/contents'">컨텐츠</span><div class="under-bar"></div></div>
    <div class="text-box"><span class="my-page">마이페이지</span><div class="under-bar"></div></div>
    <div class="login-wrapper">
        <div class="login-btn" onclick="location.href='/login'">로그인</div>
        <div class="admin-btn" onclick="location.href='/admin'" sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')">관리페이지</div>
        <div class="logout-btn" onclick="location.href='/logout'" sec:authorize="isAuthenticated()">로그아웃</div>
    </div>
</header>