@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    font-family: 'Pretendard-Regular';
    color: #3b5987;
}
body::-webkit-scrollbar {
    width: 15px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: #3b5987;
    box-shadow: 0px 0px 50px 0px black;
    border: 3px solid #e3e3e3;
    border-radius: 10px;
}
header {
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 10;
    border-bottom: 1px solid lightgray;
}


body {
    display: flex;
    flex-direction: column;
}
.top-space {
    position: relative;
    width: 100%;
    height: 60px;
    flex: none;
}


.contents-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
}

.left-side {
    position: relative;
    width: 370px;
    height: 100%;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid silver;
}
.search-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: flex;
    border-bottom: 1px solid silver;
}
.search-wrapper .search-input {
    position: relative;
    flex-grow: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-indent: 20px;
    font-size: 20px;
}
.search-wrapper .search-input::placeholder {
    font-size: 16px;
}
.search-wrapper .icon {
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    width: 25px;
    opacity: 0.6;
}
.search-wrapper .reset {
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    margin-right: 10px;
    width: 15px;
    opacity: 0.2;
}
.null-wrapper {
    height: 100%;
    /* display: flex; */
    display: none;
    align-items: center;
}
.null {
    flex-shrink: 1;
    font-size: 20px;
    font-weight: 600;
}



.right-side {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.right-side::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient( rgba(255, 255, 255, 0), rgb(255, 255, 255)), 
    url("../img/images/background.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: 0.5;
}

.chat-wrapper {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    display: none;
}
.chat-wrapper .chat {
    width: 60%;
    height: 80%;
    background-color: white;
    border: 1px solid silver;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
}
.chat-wrapper .chat .head {
    position: relative;
    width: 100%;
    height: 80px;
    background: 
        linear-gradient(rgba(53, 94, 252, .90), rgba(53, 94, 252, .90)), 
        url("../img/images/bg.png");
    background-size: 50%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-wrapper .chat .head .exit-icon {
    position: absolute;
    left: 20px;
    width: 15px;
    filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
}
.chat-wrapper .chat .head .exit {
    position: absolute;
    left: 40px;
    font-size: 12px;
    color: white;
}
.chat-wrapper .chat .head .title {
    text-align: center;
    font-size: 20px;
    color: white;
    display: flex;
}
.chat-wrapper .chat .head .title .data {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}
.chat-wrapper .chat .head .title .text {
}

.chat-wrapper .chat .head .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
}

.chat-wrapper .chat .body {
    height: 100%;
    padding: 0 20px;
    overflow-y: scroll;
}
.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}
.profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-wrapper img {
    align-self: flex-start;
    width: 30px;
    border-radius: 25px;
    border: 1px solid gray;
    margin-right: 10px;
}
.content {
    font-size: 14px;
}
.content strong {
    margin-right: 10px;
    font-weight: 900;
    white-space: nowrap;
    color: #719bd6;
}

.content .date {
    margin-top: 5px;
    font-size: 10px;
    color: #85a6d5;
}


.my-chat strong {
    color: #315dff;
}



.chat-wrapper .chat .input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.1);
} 
.chat-input {
    width: 80%;
    min-height: 60px;
    margin: 20px;
    margin-right: 0;
    border: 1px solid silver;
    border-radius: 5px;
    outline: none;
}
.chat-input::placeholder {
    color: silver;
}
.chat-input::-webkit-scrollbar {
    width: 3px;
}
.chat-input::-webkit-scrollbar-thumb {
    background-color: #5575ff;
}

.chat-wrapper .regist-btn {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chat-wrapper .regist-btn .btn {
    width: 60%;
    height: 34px;
    background: 
        linear-gradient(rgba(53, 94, 252, .90), rgba(53, 94, 252, .90)), 
        url("../img/images/bg.png");
    background-size: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
.chat-wrapper .regist-btn .count {
    font-size: 12px;
}
.chat-wrapper .regist-btn img {
    filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
    width: 20px;
}

.top3-wrapper {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top3-wrapper .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.top3-wrapper .head .title {
    height: 36px;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: 'KOHIBaeumOTF';
}
.top3-wrapper .head .title .icon {
    filter: invert(30%) sepia(30%) saturate(879%) hue-rotate(177deg) brightness(98%) contrast(89%);
    width: 40px;
    margin-right: 10px;
}
.top3-wrapper .head .title .text {
    padding-top: 8px;
}
.top3-wrapper .head .title strong {
    font-size: 30px;
}
.top3-wrapper .head .sort {
    display: flex;
}
.top3-wrapper .head .sort .text {
    margin: 10px 20px;
}
.title-popular {
    color: rgb(56, 126, 255);
    font-weight: 900;
}
.title-lastest {
    font-weight: 900;
}

.top3-wrapper .body {
    position: relative;
    width: 100%;
    height: 100%;
}
.popular {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.room {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background-color: white;
    border: 1px solid #ced6ff;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    margin: 0 20px;
}
.room::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4169fc;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
    z-index: -1;
}
.room:hover {
    background-color: #4169fc;
    color: white;
    transition: 0.5s;
}
.room:hover .name{
    color: #fff389;
    transition: 0.5s;
}
.room:hover .info .data{
    color: #fff389;
    transition: 0.5s;
}
.room:hover .info .icon{
    filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
    opacity: 1;
    transition: 0.5s;
}
.room:hover::before{
    background-color: white;
    border: 1px solid #ced6ff;
    transition: 0.5s;
}
.room .title {
    height: 34px;
    display: flex;
    font-size: 16px;
    font-weight: 900;
    margin-top: 20px;
}
.room .title .number {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    border: 1px solid #ced6ff;
    border-radius: 5px;
    background-color: white;
    color: #4169fc;
    margin-right: 10px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}
.room .title .name {
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.room .info {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.room .info .icon {
    width: 25px;
    margin-right: 10px;
    opacity: 0.5;
}
.room .info .text {
    margin-right: 10px;
}
.room .info .data {
  color: cornflowerblue;
  font-weight: 900;
  font-size: 18px;
}
.room .info .unit {
}

.lastest {
    display: none;
    align-items: center;
    justify-content: center;
}
.lastest .room .info .data {
    font-size: 18px;
    margin-right: 10px;
}
.lastest .room .info .unit {
    font-weight: 900;
}

.my-room {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:first baseline;
}
.my-room:not(.active-room):hover {
    background-color: #f1f7ff;
    border: 1px solid #4169fc;
    color: #4169fc;
    transition: 0.5s;
}
.my-room .profiles {
    width: 100px;
    height: 100%;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.my-room .profiles .img-wrapper {
    width: 20px;
}
.my-room .profiles img {
    width: 40px;
    border-radius: 25px;
    border: 1px solid gray;
}
.my-room .info{
    display: flex;
    flex-direction: column;
}
.my-room .info .title{
    display: flex;
}
.my-room .info .title .text{
    width: 150px;
    font-weight: 900;
    margin-right: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.my-room .info .title .number{
}
.my-room .info .content{
}
.active-room {
    background: 
    linear-gradient(rgba(53, 94, 252, .90), rgba(53, 94, 252, .90)), 
    url("../img/images/bg.png");
    background-size: 50%;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
}
.active-room .info .title .text {
    color: #fff389;
}
@media only screen and (max-width:1400px) {
    body {
       width: 1385px;
    }
  }

 
@media only screen and (max-width:1350px) {
    body {
        overflow-x: scroll;
    }
  } 