.join_container {
  width: 600px;
  margin: 120px auto;
  border: var(--login-border);
  padding: 50px 45px;
  position: relative;
}
.join_title {
  font-size: 30px;
  border-bottom: var(--login-border);
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.join_subtitle {
  font-size: 15px;
  margin-bottom: 30px;
}
#join_form label {
  float: left;
  font-size: 15px;
  margin-bottom: 5px;
  width: 100%;
}
#join_form input {
  float: left;
  margin-bottom: 20px;
  border: var(--login-border);
  padding: 15px 5px;
  border-radius: 5px;
  width: 100%;
}
.join_birth {
  display: flex;
  justify-content: space-between;
  float: left;
  width: 100%;
}
.join_birth_column {
  width: 33%;
}
#join_sel {
  border: var(--login-border);
  width: 100%;
  height: 47px;
  border-radius: 5px;
}
.join_btn {
  width: 100%;
  background-color: #dfdfdf;
  color: white;
  padding: 20px 0px;
  font-size: 18px;
}
/* JavaScript */
.hidden_text {
  font-size: 13px;
  margin-left: 10px;
}
.id_success_text,
.name_success_text,
.nick_success_text,
.pwd_success_text,
.repwd_success_text,
.yy_success_text,
.mm_success_text,
.dd_success_text {
  color: var(--login-color);
  display: none;
}
.id_failed_text,
.name_failed_text,
.nick_failed_text,
.pwd_failed_text,
.repwd_failed_text,
.yy_failed_text,
.mm_failed_text,
.dd_failed_text {
  color: red;
  display: none;
}

/* JavaScript 반응형 */
.disable {
  pointer-events: none;
}
