@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'ChosunBg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
body {
    font-family: 'Pretendard-Regular';
    color: #3b5987;

}
*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    padding: 0;
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
  border-bottom: 1px solid lightgray;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 18px;
  padding: 0 40px;
}

.logo-wrapper {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logo-wrapper img {
    width: 30px;
  }
  
  .logo-wrapper .text {
    height: 100%;
    font-size: 30px;
    font-family: 'Tenada';
    line-height: 70px;
  }
  
  header span {
    width: 10%;
    height: 100%;
    text-align: center;
    line-height: 60px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  
  header span:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #5575ff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  header span:hover:before,
  header span:focus:before,
  header span:active:before {
    left: 0;
    right: 0;
  }
  
  .login-wrapper {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .login-btn {
    position: relative;
    width: 100px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: white;
    background-color: #5575ff;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: 400;
  }
  
  .login-btn:before {
    content: '';
    position: absolute;
    border: #5575ff solid 3px;
    border-radius: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .login-btn:hover:before,
  .login-btn:focus:before,
  .login-btn:active:before {
    -webkit-animation: hvr-ripple-out 1s both;
    animation: hvr-ripple-out 1s both;
  }
  
  .login-btn:hover {
    background-color: white;
    color: #5575ff;
    border: 1px solid #9bb2ff;
    transition: 1s;
  }
  
  header .my-page {
    color: #5575ff;
  }



#content_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    min-width: 1200px;
    min-height: 100%;
}
.wrapper{
    width: 100%;

}
.wrapper div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 278px;
}
.title_1{
    margin: 79px 0 71px;
    font-size: 46px;
    line-height: 50px;
    letter-spacing: -1px;
}
.item{
    flex: 0 0 auto;
    display: flex;
    width: 1180px;
    height: 64px;
    margin: 0px auto;
}
.item li{
    width: 100%;
    height: 100%;
}
.item li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 16px;
    line-height: 26px;
    border: 1px solid rgb(237, 237, 237);
    text-decoration: none;
    color: black;
}




/* 프로필 */
.profile_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.profile_wrap{
    display: flex;
    flex-direction: column;
    width: 588px;
    margin: 80px auto 0px;
    padding: 64px;
    border: 1px solid rgb(245, 245, 245);
}
.profile_box{
    width: 100%;
    margin-bottom: 64px;
    text-align: center;
    position: relative;
}
.input_box{
    display: flex;
    justify-content: space-between;
}
.input_label{
    width: 250px;
}
.profile_image{
    position: relative;
}
.button{
    position: absolute;
    margin: 80px 0 0 40px;
}
.input_name{
    width: 460px;
    height: 44px;
    padding: 10px 16px;
    color: rgb(34, 34, 34);
    font-size: 14px;
    line-height: 24px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}
.input_label{
    width: 394px;
    height: 44px;
    padding: 10px 16px;
    color: rgb(34, 34, 34);
    font-size: 14px;
    line-height: 24px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 150ms ease-out 0s;
}
.input_label:disabled{
        color: rgb(204, 204, 204);
        border-color: rgb(237, 237, 237);
        background-color: rgb(252, 252, 252);
}

.button_right{
    font-weight: 700;
    border: 1px solid rgb(223, 223, 223);
    background-color: rgb(255, 255, 255);
    height: 44px;
    padding: 0 10px;
    cursor: pointer;

}
.profile_name{
    display: inline-flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
}
.profile_name .name_label .label_text{
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.profile_label{
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}
.privacy_label{
    display: flex;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid rgb(245, 245, 245);
    justify-content: space-between;
}
.title_privacy{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 7px;
}
.caption_gray{
    font-size: 12px;
    color: rgb(151, 151, 151);
    line-height: 20px;
}
.button_detail{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 80px;
    padding: 0px 16px;
    font-weight: 700;
    vertical-align: middle;
    transition: all 150ms ease-out 0s;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    color: rgb(34, 34, 34);
    height: 28px;
}
#btn-modal{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 700;
    vertical-align: middle;
    transition: all 150ms ease-out 0s;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: rgb(34, 34, 34);
    height: 28px;
    margin-top: 50px;
    margin-left: 400px;
    font-size: 12px;
}

/* MODAL창 띄우기 */

div{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}
#modal.modal-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: rgb(0 0 0 / 25%) 0px 15px 18px -10px;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: none;
}

#modal .modal-window {
    background: rgba(255,255,255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 560px;
    height: 632px;
    position: relative;
    top: -100px;
    padding: 10px;

}

#modal .title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 82px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

#modal .title h2 {
    display: inline;
    font-size: 22px;
    font-weight: 700;

}
#modal .close-area {
    width: 16px;
    height: 16px;
    margin-left: auto;
    border: 0px;
    background-color: transparent;
    position: absolute;
    top: 28px;
    right: 30px;
}

#modal .content {
    padding: 30px 30px 50px;
}
#modal .content .content_inner_1{
    color: rgb(21, 100, 249);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
#modal .content .content_inner_2{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}
#modal .content .content_inner_3{
    padding: 0px 8px 0px 10px;
    color: rgb(76, 76, 76);
    font-size: 14px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    box-sizing: border-box;
    background: url(/static/media/select_arrow.95d6586e.svg) right 8px center / 10px 6px no-repeat rgb(255, 255, 255);
    outline: none;
    appearance: none;
    width: 100%;
    height: 46px;
}
#modal .content .content_inner_4{
padding: 12px 16px;
    color: rgb(76, 76, 76);
    font-size: 14px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    resize: none;
    width: 100%;
    height: 120px;
    margin-top: 20px;
}
#modal .content .content_inner_5{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15px;
}
#modal .modal_bottom{
    height: 70px;
}
#modal .modal_bottom button{
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 500;
    border: 0px;
    background-color: rgb(26, 90, 232);
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    cursor: pointer;
    outline: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}


/* footer */
footer {
    position: relative;
    width: 100%;
    padding: 0 40px;
    background-color: #3b5987;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  footer p {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    color: white;
    margin: 40px 0;
  }
  
  footer .icons {
    height: 100%;
    padding-bottom: 40px;
    display: flex;
    align-self: end;
    justify-content: end;
  }
  
  footer .icons img {
    width: 40px;
    margin-left: 10px;
    filter: invert(20%) sepia(10%) saturate(1000%) hue-rotate(177deg) brightness(120%) contrast(150%);
  }