* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --login-border: 1px solid rgba(0, 0, 0, 0.1);
  --login-color: #326cf9;
  --login-hover: #1e41d0;
}

a:visited {
  color: #326cf9;
}

li {
  list-style: none;
}

.btn {
  transition: all 1s;
}

.btn:hover {
  color: #496ffc;
}

.logout_btn {
  display: none;
}
