<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/layout-content/post/notice-detail.css">
</th:block>
<th:block layout:fragment="script">
    <script src="/js/layout-content/post/notice-detail.js"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 공지사항</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <div class="background"></div>
    <div class="meta-wrapper">
        <div class="meta-title">
            <div class="notice-title">공지사항</div>
        </div>
        <div class="tag-wrapper story-tag-wrapper" onclick="location.href='/post/story'">
            <div class="tag story-tag"></div>
            <div class="text">이야기</div>
        </div>
        <div class="tag-wrapper notice-tag-wrapper active-tag-wrapper">
            <div class="tag notice-tag"></div>
            <div class="text">공지사항</div>
        </div>
        <div class="frame">
            <div class="story-frame">
                <div class="head">
                    <div class="back">
                        <img class="icon" src="/img/icon/chevron-left.svg">
                        <div class="text" onclick="location.href='/post/notice'">목록으로</div>
                    </div>
                </div>
                <div class="body">
                    <div class="title-wrapper">
                        <div class="title" th:text="${notice.title}"></div>
                        <div class="below">
                            <div class="writer" th:text="${notice.memberNickname}"></div>
                            <div class="split">ㅣ</div>
                            <div class="reg-date"
                                th:text="${#temporals.format(notice.regDate,'yyyy년 MM월 dd일  HH:mm:SS')}"></div>
                            <div class="hits" th:text="'조회 ' + ${notice.hits}"></div>
                        </div>
                    </div>
                    <div class="content" th:text="${notice.content}"></div>
                    <div class="other-notice">
                        <div class="next-detail">
                            <span class="next">다음글</span>
                            <input class="inquireId" th:value="${nextNotice.id}" type="hidden">
                            <img class="icon" src="/img/icon/chevron-up.svg">
                            <a class="title" th:if="${nextNotice.id==null}">다음글이 없습니다.</a>
                            <a class="title" th:if="${nextNotice.id!=null}"
                                th:href="'/post/notice/detail?id='+${nextNotice.id}" th:text="${nextNotice.title}"></a>
                        </div>
                        <div class="prev-detail">
                            <span class="prev">이전글</span>
                            <input class="inquireId" th:value="${prevNotice.id}" type="hidden">
                            <img class="icon" src="/img/icon/chevron-up.svg">
                            <a class="title" th:if="${prevNotice.id==null}">이전글이 없습니다.</a>
                            <a class="title" th:if="${prevNotice.id!=null}"
                                th:href="'/post/notice/detail?id='+${prevNotice.id}" th:text="${prevNotice.title}"></a>
                        </div>
                    </div>
                    <div class="back-btn" onclick="location.href='/post/notice'">목록으로</div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>