<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="/bootstrap-5.3.0-alpha1-dist/bootstrap-5.3.0-alpha1-dist/css/" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

  <link href="/css/layout-content/post/notice-detail.css" rel="stylesheet">
  <script src="/js/layout-content/post/notice-detail.js"></script>

  <title>Plice | 커뮤니티</title>
</head>

<body>
  <header>
    <div class="logo-wrapper" onclick="location.href='/home'">
      <img src="/img/logo/plice.png">
      <div class="text">PLICE</div>
    </div>
    <span class="map" onclick="location.href='/map'">지도</span>
    <span class="chat" onclick="location.href='/chat'">채팅</span>
    <span class="post" onclick="location.href='/post'">이야기</span>
    <span class="contents" onclick="location.href='/contents'">컨텐츠</span>
    <span class="my-page" onclick="location.href='/my-page'">마이페이지</span>
    <div class="login-wrapper">
      <div class="login-btn" onclick="location.href='/login'">로그인</div>
    </div>
  </header>
  <div class="top-space"></div>
  <div class="background"></div>

  <!-- 수정 폼   시작-->
  <div class="modify-form-wrapper">
    <form action="" method="post" class="modify-form">
      <div class="head">
        <span class="text">공지 수정</span>
        <img class="close" src="/img/icon/close.png">
      </div>
      <div class="body">
        <div class="title-wrapper">
          <div class="label">ㅣ 제목</div>
          <textarea name="title" class="title-input" maxlength="30" placeholder="제목을 입력하세요."></textarea>
        </div>
        <div class="content-wrapper">
          <div class="label">ㅣ내용</div>
          <div class="content-frame">
            <textarea name="content" class="content-input" maxlength="3000" placeholder="내용을 입력하세요."></textarea>
            <div class="count">0/3000</div>
          </div>
        </div>
      </div>
      <div class="regist-button" onclick="formSubmit(this)">등록</div>
    </form>
  </div>
  <!-- 수정 폼   끝-->


  <!-- 취소 알림창  시작-->
  <div class="close-alert-wrapper">
    <div class="close-alert">
      <div class="text">
        작성한 내용은 저장되지 않습니다.<br>
        취소하겠습니까?
      </div>
      <button class="cancel" onclick="hideAlert()">취소</button>
      <button class="okay" onclick="formClose()">확인</button>
    </div>
  </div>
  <!-- 취소 알림창  끝-->


  <div class="meta-wrapper">

    <div class="meta-title">
      <div class="notice-title">공지사항</div>
    </div>

    <div class="tag-wrapper story-tag-wrapper" onclick="location.href='/post'">
      <div class="tag story-tag"></div>
      <div class="text">이야기</div>
    </div>

    <div class="tag-wrapper notice-tag-wrapper active-tag-wrapper">
      <div class="tag notice-tag"></div>
      <div class="text">공지사항</div>
    </div>

    <div class="frame">

      <div class="story-frame">
        <div class="head">
          <div class="back">
            <img class="icon" src="/img/icon/chevron-left.svg">
            <div class="text" onclick="location.href='/post'">목록으로</div>
          </div>
          <div class="btn-wrapper">
            <div class="modify-btn btn">
              <img src="/img/icon/pencil-square.svg">
              <div class="text">수정</div>
            </div>
            <div class="delete-btn btn">
              <img src="/img/icon/x-square.svg">
              <div class="text">삭제</div>
            </div>
          </div>
        </div>

        <div class="body">
          <div class="title-wrapper">
            <div class="title">공지사항 샘플 제목</div>
            <div class="below">
              <div class="writer">플라이스</div>
              <div class="split">ㅣ</div>
              <div class="reg-date">2022.12.31 20:13:39</div>
              <div class="hits">조회 14</div>
            </div>
          </div>
          <div class="content">
            지난 10일 사우디 수도 리야드 국제공항에 도착한 비행기는 활주로에서 착륙하지 못하고 몇바퀴 선회를 했다.<br>
            창 밖을 보니 활주로에 빗방울이 엄청나게 쏟아지고 있었다. 사우디에서 소낙비를 맞게 될 줄이야!<br>
            이날 새벽부터 낮까지 내린 비로 리야드 시내는 물바다가 돼 버렸다.<br>
            불과 10~20mm에 불과한 비에도 배수시설이 부족한 사우디에서는 곳곳에서 맨홀이 역류하고 도로가 끊겼다.
          </div>

          <div class="other-notice">
            <div class="next-detail">
              <span class="next">다음글</span>
              <input class="inquireId" th:value="${nextInquire.id}" type="hidden">
              <img class="icon" src="/img/icon/chevron-up.svg">
              <a class="title" th:if="${nextInquire.id==null}">다음글이 없습니다.</a>
              <a class="title" th:if="${nextInquire.id!=null}" onclick="inquireDetail(this)"
                th:text="${nextInquire.title}"></a>
            </div>

            <div class="prev-detail">
              <span class="prev">이전글</span>
              <input class="inquireId" th:value="${prevInquire.id}" type="hidden">
              <img class="icon" src="/img/icon/chevron-up.svg">
              <a class="title" th:if="${prevInquire.id==null}">이전글이 없습니다.</a>
              <a class="title" th:if="${prevInquire.id!=null}" onclick="inquireDetail(this)"
                th:text="${prevInquire.title}"></a>
            </div>
          </div>

          <div class="back-btn" onclick="location.href='/post'">목록으로</div>
        </div>
      </div>


    </div>

  </div>


  <footer>
    <p>
      (주)플라이스<br>
      사업자 번호: 000-00-00000&nbsp&nbsp&nbsp&nbsp통신판매업신고번호 : 제2023-서울 영등포-00000호<br>
      주소 : 서울특별시 영등포구 선유동2로 57 이레빌딩<br><br>

      고객센터 : 02-0000-0000 | 평일 10:00 ~ 18:30, 점심시간 : 12:00 ~ 13:00 (토·일요일, 공휴일 휴무)<br>
      팩스 : 02-000-0000&nbsp&nbsp&nbsp&nbsp프로모션/사업 제휴문의 : cerdure@gmail.com<br>
      PLICE, Inc. All rights reserved.
    </p>
    <div class="icons">
      <img src="/img/icon/instagram_mono.png">
      <img src="/img/icon/facebook_mono.png">
      <img src="/img/icon/blog_mono.png">
      <img src="/img/icon/naverpost_mono.png">
      <img src="/img/icon/youtube_mono.png">
    </div>
  </footer>
</body>

</html>