<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/layout-content/post/post-notice.css">
</th:block>
<th:block layout:fragment="script">
    <script src="/js/layout-content/post/post-notice.js"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 공지사항</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <div class="background"></div>
    <div class="meta-wrapper">
        <div class="meta-title">
            <div class="story-title">이야기</div>
            <div class="notice-title">공지사항</div>
        </div>
        <div class="tag-wrapper story-tag-wrapper" onclick="location.href='/post/story'">
            <div class="tag story-tag"></div>
            <div class="text">이야기</div>
        </div>
        <div class="tag-wrapper notice-tag-wrapper active-tag-wrapper">
            <div class="tag notice-tag"></div>
            <div class="text">공지사항</div>
        </div>
        <div class="frame">
            <div class="notice-frame">
                <div class="head">
                    <div class="count-wrapper">
                        <div class="count" th:text="${notices.getTotalElements()}"></div>
                        <div class="unit">건</div>
                    </div>
                    <div class="search-wrapper">
                        <form action="/post/notice" class="search">
                            <select name="searchBy" class="search-by">
                                <option value="nickname" th:selected="${searchUtils?.searchBy} == 'nickname'">작성자</option>
                                <option value="title" th:selected="${searchUtils?.searchBy} == 'title'">제목</option>
                                <option value="content" th:selected="${searchUtils?.searchBy} == 'content'">내용</option>
                            </select>
                            <input name="keyword" type="text" placeholder="검색어를 입력하세요." th:value="${searchUtils?.keyword}">
                            <img class="reset" src="/img/icon/x-circle.svg">
                            <img class="icon" src="/img/icon/search-icon.svg" onclick="submit()">
                        </form>
                    </div>
                </div>
                <div class="body">
                    <div class="table-head">
                        <div class="number">번호</div>
                        <div class="title">제목</div>
                        <div class="writer">작성자</div>
                        <div class="reg-date">등록일</div>
                        <div class="hits">조회수</div>
                    </div>
                    <div class="table-body">
                        <a class="table-row" th:each="notice,i : ${notices}"
                            th:href="'/post/notice/detail?id=' + ${notice.id}">
                            <div class="number" th:text="${notice.id}"></div>
                            <div class="title">
                                <div class="text" th:text="${notice.title}"></div>
                            </div>
                            <div class="writer" th:text="${notice.memberNickname}"></div>
                            <div class="reg-date" th:text="${#temporals.format(notice.regDate, 'yyyy-MM-dd')}"></div>
                            <div class="hits" th:text="${notice.hits}">0</div>
                        </a>
                    </div>
                    <div class="table-footer">
                        <div class="notice-controller">
                            <span class="controller"
                                th:with="start=${T(java.lang.Math).floor(notices.number/10)*10 + 1}, last=(${notices.totalPages})">
                                <a th:class="${notices.first} ? 'disable'"
                                    th:href="@{/post/notice(page=${notices.number})}">
                                    <img class="controller-btn-left" src="/img/icon/btn_left.png">
                                </a>
                                <a th:href="@{/post/notice(page=1)}"
                                    th:if="${notices.totalPages < 4 ? false :notices.number > 1}" th:text="1"
                                    aria-label="First">
                                </a>
                                <span th:if="${notices.totalPages < 4 ? false :notices.number > 1}">...</span>
                                <a th:each="page: ${#numbers.sequence(start, last)}"
                                    th:if="${notices.first ? (page == 0 ? false : page < notices.number + 4) :
                                  (notices.last ? page > notices.number - 2 : (page < notices.number + 3) && (page > notices.number - 1))}"
                                    th:class="${page == notices.number + 1} ? 'index-active'" th:text="${page}"
                                    th:href="@{/post/notice(page=${page})}">
                                </a>
                                <span
                                    th:if="${notices.totalPages < 4 ? false :notices.number < notices.totalPages - 2}">...</span>
                                <a th:href="@{/post/notice(page=${notices.totalPages})}"
                                    th:if="${notices.totalPages < 4 ? false :notices.number < notices.totalPages - 2}"
                                    th:text="${notices.totalPages}" aria-label="Last">
                                </a>
                                <a th:class="${notices.last} ? 'disable'"
                                    th:href="@{/post/notice(page=${notices.number +2})}">
                                    <img class="controller-btn-right" src="/img/icon/btn_right.png">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>