<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/layout-content/post/post-story.css">
</th:block>
<th:block layout:fragment="script">
    <script src="/js/layout-content/post/post-story.js"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 이야기</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <div class="background"></div>
    <div class="story-write-wrapper write-form-wrapper">
        <form action="/post/story" method="post" class="story-write-form write-form">
            <div class="head">
                <span class="text">이야기 등록</span>
                <img class="close" src="/img/icon/close.png">
            </div>
            <div class="body">
                <div class="title-wrapper">
                    <div class="label">ㅣ 제목</div>
                    <textarea name="title" class="title-input" maxlength="30" placeholder="제목을 입력하세요."></textarea>
                </div>
                <div class="content-wrapper">
                    <div class="label">ㅣ내용</div>
                    <div class="content-frame">
                        <textarea name="content" class="content-input" maxlength="3000"
                            placeholder="내용을 입력하세요."></textarea>
                        <div class="count">0/3000</div>
                    </div>
                </div>
            </div>
            <div onclick="formSubmit(this)" class="regist-button disable">등록</div>
        </form>
    </div>
    <div class="close-alert-wrapper">
        <div class="close-alert">
            <div class="text">
                작성한 내용은 저장되지 않습니다.<br>
                취소하겠습니까?
            </div>
            <button class="cancel" onclick="hideAlert()">취소</button>
            <button class="okay" onclick="formClose()">확인</button>
        </div>
    </div>
    <div class="meta-wrapper">
        <div class="meta-title">
            <div class="story-title">이야기</div>
            <div class="notice-title">공지사항</div>
        </div>
        <div class="tag-wrapper story-tag-wrapper active-tag-wrapper">
            <div class="tag story-tag"></div>
            <div class="text">이야기</div>
        </div>
        <div class="tag-wrapper notice-tag-wrapper" onclick="location.href='/post/notice'">
            <div class="tag notice-tag"></div>
            <div class="text">공지사항</div>
        </div>
        <div class="frame">
            <div class="story-frame">
                <div class="head">
                    <div class="count-wrapper">
                        <div class="count" th:text="${posts.getTotalElements()}"></div>
                        <div class="unit">개</div>
                    </div>
                    <div class="search-wrapper">
                        <form action="/post/story" class="search">
                            <select name="searchBy" class="search-by">
                                <option value="nickname" th:selected="${dataUtil?.searchBy} == 'nickname'">작성자</option>
                                <option value="title" th:selected="${dataUtil?.searchBy} == 'title'">제목</option>
                                <option value="content" th:selected="${dataUtil?.searchBy} == 'content'">내용</option>
                            </select>
                            <input name="keyword" type="text" placeholder="검색어를 입력하세요." th:value="${dataUtil?.keyword}">
                            <img class="reset" src="/img/icon/x-circle.svg">
                            <img class="icon" src="/img/icon/search-icon.svg" onclick="submit()">
                        </form>
                    </div>
                    <div class="write-btn-wrapper">
                        <div class="write-btn story-write-btn">
                            <img src="/img/icon/pencil-square.svg">
                            <div class="text">글쓰기</div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="table-head">
                        <div class="number">번호</div>
                        <div class="title">제목</div>
                        <div class="writer">작성자</div>
                        <div class="reg-date">등록일</div>
                        <div class="hits">조회수</div>
                    </div>
                    <div class="table-body">
                        <a class="table-row" th:each="post,i : ${posts}" th:href="${'/post/story/detail?id='+post.id}">
                            <div class="number" th:text="${post.id}"></div>
                            <div class="title">
                                <div class="text" th:text="${post.title}"></div>
                                <div class="reply-number" th:text="${post.replies.size()}"></div>
                            </div>
                            <div class="writer" th:text="${post.memberNickname}"></div>
                            <div class="reg-date" th:text="${#temporals.format(post.regDate, 'yyyy.MM.dd')}"></div>
                            <div class="hits" th:text="${post.hits}"></div>
                        </a>
                    </div>
                    <div class="table-footer">
                        <span class="controller"
                            th:with="start=${T(java.lang.Math).floor(posts.number/10)*10 + 1}, last=(${posts.totalPages})">
                            <a th:class="${posts.first} ? 'disable'" th:href="@{/post/story(page=${posts.number})}">
                                <img class="controller-btn-left" src="/img/icon/btn_left.png">
                            </a>
                            <a th:href="@{/post/story(page=1)}"
                                th:if="${posts.totalPages < 4 ? false :posts.number > 1}" th:text="1"
                                aria-label="First">
                            </a>
                            <span th:if="${posts.totalPages < 4 ? false :posts.number > 1}">...</span>
                            <a th:each="page: ${#numbers.sequence(start, last)}"
                                th:if="${posts.first ? (page == 0 ? false : page < posts.number + 4) :
                                          (posts.last ? page > posts.number - 2 : (page < posts.number + 3) && (page > posts.number - 1))}"
                                th:class="${page == posts.number + 1} ? 'index-active'" th:text="${page}"
                                th:href="@{/post/story(page=${page})}">
                            </a>
                            <span
                                th:if="${posts.totalPages < 4 ? false :posts.number < posts.totalPages - 2}">...</span>
                            <a th:href="@{/post/story(page=${posts.totalPages})}"
                                th:if="${posts.totalPages < 4 ? false :posts.number < posts.totalPages - 2}"
                                th:text="${posts.totalPages}" aria-label="Last">
                            </a>
                            <a th:class="${posts.last} ? 'disable'" th:href="@{/post/story(page=${posts.number +2})}">
                                <img class="controller-btn-right" src="/img/icon/btn_right.png">
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>