<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/layout-content/post/story-detail.css">
</th:block>
<th:block layout:fragment="script">
    <script src="/js/layout-content/post/story-detail.js"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 이야기</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <div class="background"></div>
    <div class="modal-background"></div>
    <div class="modify-form-wrapper">
        <form action="/post/story/modify" method="post" class="modify-form">
            <input type="hidden" name="id" th:value="${post.id}">
            <div class="head">
                <span class="text">이야기 수정</span>
                <img class="close" src="/img/icon/close.png">
            </div>
            <div class="body">
                <div class="title-wrapper">
                    <div class="label">ㅣ 제목</div>
                    <textarea name="title" class="title-input" maxlength="30" placeholder="제목을 입력하세요."
                        th:text="${post.title}" th:value="${post.title}"></textarea>
                </div>
                <div class="content-wrapper">
                    <div class="label">ㅣ내용</div>
                    <div class="content-frame">
                        <textarea name="content" class="content-input" maxlength="3000" placeholder="내용을 입력하세요."
                            th:utext="${#strings.replace(post.content, '<br>', '&#10')}"></textarea>
                        <div class="count" th:text="${#strings.length(post.content)} + '/3000'"></div>
                    </div>
                </div>
            </div>
            <div class="regist-button" onclick="formSubmit(this)">등록</div>
        </form>
    </div>
    <div class="alert-window close-alert">
        <div class="text">
            글 수정을 취소하겠습니까?
        </div>
        <button class="cancel" onclick="hideAlert()">취소</button>
        <button class="okay" onclick="formClose(this)">확인</button>
    </div>
    <div class="alert-window delete-alert">
        <div class="text">
            글을 삭제하시겠습니까?
        </div>
        <button class="cancel" onclick="hideAlert()">취소</button>
        <button class="okay" th:onclick="'postDelete(' + ${post.id} + ')'">확인</button>
    </div>
    <div class="alert-window reply-delete-alert">
        <div class="text">
            댓글을 삭제하시겠습니까?
        </div>
        <button class="cancel" onclick="hideAlert()">취소</button>
        <button class="okay" onclick="replyDelete()">확인</button>
    </div>
    <div class="meta-wrapper">
        <div class="meta-title">
            <div class="story-title">이야기</div>
        </div>
        <div class="tag-wrapper story-tag-wrapper active-tag-wrapper">
            <div class="tag story-tag"></div>
            <div class="text">이야기</div>
        </div>
        <div class="tag-wrapper notice-tag-wrapper" onclick="location.href='/post/notice'">
            <div class="tag notice-tag"></div>
            <div class="text">공지사항</div>
        </div>
        <div class="frame">
            <div class="story-frame">
                <div class="head">
                    <div class="back">
                        <img class="icon" src="/img/icon/chevron-left.svg">
                        <div class="text" onclick="location.href='/post/story'">목록으로</div>
                    </div>
                    <div class="btn-wrapper">
                        <div class="modify-btn btn" th:if="${#authorization.expression('hasAnyRole(''ADMIN'', ''SUPER_ADMIN'')')} ? true
                                 : (${#authorization.expression('isAnonymous()')} ? false :
                                 (${#authentication.principal.username} == ${post.member.phone}))">
                            <img src="/img/icon/pencil-square.svg">
                            <div class="text">수정</div>
                        </div>
                        <div class="delete-btn btn" th:if="${#authorization.expression('hasAnyRole(''ADMIN'', ''SUPER_ADMIN'')')} ? true
                                 : (${#authorization.expression('isAnonymous()')} ? false :
                                 (${#authentication.principal.username} == ${post.member.phone}))">
                            <img src="/img/icon/x-square.svg">
                            <div class="text">삭제</div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="title-wrapper">
                        <div class="title" th:text="${post.title}"></div>
                        <div class="below">
                            <div class="writer" th:text="${post.memberNickname}"></div>
                            <div class="split">ㅣ</div>
                            <div class="reg-date"
                                th:text="${#temporals.format(post.regDate,'yyyy년 MM월 dd일  HH:mm:SS')}"></div>
                            <div class="hits" th:text="'조회 ' + ${post.hits}"></div>
                            <div class="split">ㅣ</div>
                            <div class="reply" th:text="'댓글 ' + ${post.replies.size()}"></div>
                        </div>
                    </div>
                    <div class="content" th:utext="${post.content}"></div>
                    <div class="comment-wrapper">
                        <div class="sum" th:text="'댓글 ' + ${post.replies.size()} + '개'"></div>
                        <form class="comment-input" action="/post/reply/save" method="post">
                            <input type="hidden" name="postId" th:value="${post.id}">
                            <textarea class="comment" name="content" maxlength="300" onkeydown="resize(this)"
                                onkeyup="resize(this)" onclick="commentClick(this)"
                                placeholder="내용을 입력해주세요. 최대 300자까지 입력할 수 있습니다."></textarea>
                            <div class="comment-underline">
                                <div class="comment-underline-back"></div>
                            </div>
                            <div class="comment-button-save" onclick="formSubmit(this)">등록</div>
                            <div class="comment-button-cancel" onclick="commentCancel(this)">취소</div>
                        </form>
                        <div th:each="reply : ${post.replies}" th:if="${reply.parent == null}">
                            <div th:fragment="replyBlock" th:remove="tag">
                                <div class="my-comment" th:style="${'padding-left:'+40*reply.level+'px;'}"
                                    th:data-id="${reply.id}" th:data-post-id="${post.id}">
                                    <div class="main">
                                        <div class="header">
                                            <span class="name" th:text="${reply.member?.nickname}"></span>
                                            <span class="split" th:if="${reply.member}">ㅣ</span>
                                            <span class="date"
                                                th:text="${#temporals.format(post.regDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
                                        </div>
                                        <div class="body" th:utext="${reply.content}"
                                            th:classappend="${reply.member} ? '' : 'null-text'"></div>
                                        <div class="option">
                                            <img class="opt-btn" src="/img/icon/three-dots-vertical.svg">
                                            <div class="box">
                                                <div class="edit"
                                                    th:if="${#authorization.expression('hasAnyRole(''ADMIN'', ''SUPER_ADMIN'')')} ? true
                                                     : (${#authorization.expression('isAnonymous()')} ? false :
                                                        (${#authentication.principal.username} == ${reply.member?.phone}))">수정</div>
                                                <div class="remove"
                                                    th:if="${#authorization.expression('hasAnyRole(''ADMIN'', ''SUPER_ADMIN'')')} ? true
                                                     : (${#authorization.expression('isAnonymous()')} ? false :
                                                        (${#authentication.principal.username} == ${reply.member?.phone}))">삭제</div>
                                                <div class="reply">답글 달기</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <th:block th:each="children : ${reply.children}">
                                    <th:block th:with="reply = ${children}" th:include="this :: replyBlock"
                                        th:remove="tag">
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="other-story">
                        <div class="next-detail">
                            <span class="next">다음글</span>
                            <img class="icon" src="/img/icon/chevron-up.svg">
                            <a class="title" th:if="${nextPost.id==null}">다음글이 없습니다.</a>
                            <a class="title" th:if="${nextPost.id!=null}" th:text="${nextPost.title}"
                                th:href="'/post/story/detail?id=' + ${nextPost.id}"></a>
                        </div>
                        <div class="prev-detail">
                            <span class="prev">이전글</span>
                            <img class="icon" src="/img/icon/chevron-up.svg">
                            <a class="title" th:if="${prevPost.id==null}">이전글이 없습니다.</a>
                            <a class="title" th:if="${prevPost.id!=null}" th:text="${prevPost.title}"
                                th:href="'/post/story/detail?id=' + ${prevPost.id}"></a>
                        </div>
                    </div>
                    <div class="back-btn" onclick="location.href='/post/story'">목록으로</div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>