<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="../static/bootstrap-5.3.0-alpha1-dist/bootstrap-5.3.0-alpha1-dist/css/" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    
    <link href="../static/css/chat.css" rel="stylesheet">
    <script src="../static/js/chat.js"></script>

    <title>Plice | 채팅</title>
</head>

<body>
    <header>
        <div class="logo-wrapper" onclick="location.href='../templates/home.html'">
            <img src="../static/img/logo/plice.png">
            <div class="text">PLICE</div>
        </div>
        <span class="map" onclick="location.href='../templates/map.html'">지도</span>
        <span class="chat" onclick="location.href='../templates/chat.html'">채팅</span>
        <span class="post" onclick="location.href='../templates/post.html'">이야기</span>
        <span class="contents" onclick="location.href='../templates/contents.html'">컨텐츠</span>
        <span class="my-page" onclick="location.href='../templates/my-page.html'">마이페이지</span>
        <div class="login-wrapper">
            <div class="login-btn" onclick="location.href='../templates/login.html'">로그인</div>
        </div>
    </header>

    <div class="top-space"></div>

    <div class="contents-wrapper">

        <div class="left-side">
            <form class="search-wrapper">
                <img class="icon" src="../static/img/icon/search-icon.svg">
                <input class="search-input" type="text" placeholder="아파트로 채팅방 검색">
                <img class="reset" src="../static/img/icon/x-circle.svg">
            </form>
            <div class="null-wrapper">
                <div class="null">현재 참여중인 채팅방이 없습니다.</div>
            </div>

            <div class="my-room">
                <div class="profiles">
                    <div class="img-wrapper">
                        <img src="../static/img/icon/profile.png">
                    </div>
                    <div class="img-wrapper">
                        <img src="../static/img/icon/profile.png">
                    </div>
                    <div class="img-wrapper">
                        <img src="../static/img/icon/profile.png">
                    </div>
                </div>
                <div class="info">
                    <div class="title">
                        <div class="text">반포1동 반포자이 채팅방</div>
                        <div class="number">132명</div>
                    </div>
                    <div class="content">안녕하세요.</div>
                </div>
            </div>

            <div class="my-room">
                <div class="profiles">
                    <div class="img-wrapper">
                        <img src="../static/img/icon/profile.png">
                    </div>
                    <div class="img-wrapper">
                        <img src="../static/img/icon/profile.png">
                    </div>
                    <div class="img-wrapper">
                        <img src="../static/img/icon/profile.png">
                    </div>
                </div>
                <div class="info">
                    <div class="title">
                        <div class="text">잠실동 리센츠 채팅방</div>
                        <div class="number">78명</div>
                    </div>
                    <div class="content">안녕하세요.</div>
                </div>
            </div>

            <div class="my-room">
                <div class="profiles">
                    <div class="img-wrapper">
                        <img src="../static/img/icon/profile.png">
                    </div>
                    <div class="img-wrapper">
                        <img src="../static/img/icon/profile.png">
                    </div>
                    <div class="img-wrapper">
                        <img src="../static/img/icon/profile.png">
                    </div>
                </div>
                <div class="info">
                    <div class="title">
                        <div class="text">여의도동 아크로여의도더원 채팅방</div>
                        <div class="number">53명</div>
                    </div>
                    <div class="content">안녕하세요.</div>
                </div>
            </div>
            
        </div>

   

        <div class="right-side">

            <div class="chat-wrapper">
                <div class="chat">
                    <div class="head">
                        <img class="exit-icon" src="../static/img/icon/chevron-left.svg">
                        <div class="exit">채팅방<br>나가기</div> 
                        <div class="title">
                            <div class="data">반포자이</div>
                            <div class="text">채팅방</div>
                        </div>
                        <img class="close" src="../static/img/icon/close.png">
                    </div>

                    <div class="body">

                        <div class="content-wrapper">
                            <div class="profile-wrapper">
                                <img src="../static/img/icon/profile.png">
                            </div>
                            <div class="content">
                                    <strong>유저11</strong>
                                    안녕하세요.안녕하세요.안녕하세요.<br>안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                            <div class="date">오전 11:26</div>
                            </div>
                        </div>

                        <div class="content-wrapper">
                            <div class="profile-wrapper">
                                <img src="../static/img/icon/profile.png">
                            </div>
                            <div class="content">
                                    <strong>유저11</strong>
                                    안녕하세요.안녕하세요.안녕하세요.<br>안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                            <div class="date">오전 11:26</div>
                            </div>
                        </div>

                        <div class="content-wrapper">
                            <div class="profile-wrapper">
                                <img src="../static/img/icon/profile.png">
                            </div>
                            <div class="content">
                                    <strong>유저11</strong>
                                    안녕하세요.안녕하세요.안녕하세요.<br>안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                            <div class="date">오전 11:26</div>
                            </div>
                        </div>

                        <div class="content-wrapper my-chat">
                            <div class="profile-wrapper">
                                <img src="../static/img/icon/profile.png">
                            </div>
                            <div class="content">
                                    <strong>플라이스</strong>
                                    안녕하세요.안녕하세요.안녕하세요.<br>안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                            <div class="date">오전 11:26</div>
                            </div>
                        </div>

                        <div class="content-wrapper">
                            <div class="profile-wrapper">
                                <img src="../static/img/icon/profile.png">
                            </div>
                            <div class="content">
                                    <strong>유저11</strong>
                                    안녕하세요.안녕하세요.안녕하세요.<br>안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                            <div class="date">오전 11:26</div>
                            </div>
                        </div>

                        <div class="content-wrapper my-chat">
                            <div class="profile-wrapper">
                                <img src="../static/img/icon/profile.png">
                            </div>
                            <div class="content">
                                    <strong>플라이스</strong>
                                    안녕하세요.안녕하세요.안녕하세요.<br>안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                            <div class="date">오전 11:26</div>
                            </div>
                        </div>

                        <div class="content-wrapper">
                            <div class="profile-wrapper">
                                <img src="../static/img/icon/profile.png">
                            </div>
                            <div class="content">
                                    <strong>유저11</strong>
                                    안녕하세요.안녕하세요.안녕하세요.<br>안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                            <div class="date">오전 11:26</div>
                            </div>
                        </div>

                        <div class="content-wrapper">
                            <div class="profile-wrapper">
                                <img src="../static/img/icon/profile.png">
                            </div>
                            <div class="content">
                                    <strong>유저11</strong>
                                    안녕하세요.안녕하세요.안녕하세요.<br>안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                            <div class="date">오전 11:26</div>
                            </div>
                        </div>

                        <div class="content-wrapper">
                            <div class="profile-wrapper">
                                <img src="../static/img/icon/profile.png">
                            </div>
                            <div class="content">
                                    <strong>유저11</strong>
                                    안녕하세요.안녕하세요.안녕하세요.<br>안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                            <div class="date">오전 11:26</div>
                            </div>
                        </div>

                        <div class="content-wrapper my-chat">
                            <div class="profile-wrapper">
                                <img src="../static/img/icon/profile.png">
                            </div>
                            <div class="content">
                                    <strong>플라이스</strong>
                                    안녕하세요.안녕하세요.안녕하세요.<br>안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                            <div class="date">오전 11:26</div>
                            </div>
                        </div>

                        <div class="content-wrapper">
                            <div class="profile-wrapper">
                                <img src="../static/img/icon/profile.png">
                            </div>
                            <div class="content">
                                    <strong>유저11</strong>
                                    안녕하세요.안녕하세요.안녕하세요.<br>안녕하세요.안녕하세요.안녕하세요.안녕하세요.
                            <div class="date">오전 11:26</div>
                            </div>
                        </div>


                    </div>

                    <form class="input-wrapper">
                        <textarea class="chat-input" type="text" placeholder="메시지를 입력하세요."></textarea>
                        <div class="regist-btn">
                            <div class="btn">
                                <img src="../static/img/icon/send-fill.svg">
                            </div>
                            <div class="count">0/300</div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="top3-wrapper">

                <div class="head">
                    <div class="title">
                        <img class="icon" src="../static/img/icon/chat-text.svg">
                       <div class="text">채팅방 <strong>TOP3</strong></div> 
                    </div>
                    <div class="sort">
                        <div class="text title-popular">인기순</div>
                        <div class="text title-lastest">최신순</div>
                    </div>
                </div>

                <div class="body">

                    <div class="popular">
                        <div class="room">
                            <div class="title">
                                <div class="number">1</div>
                                <div class="name">일원동 래미안개포루체하임</div>
                            </div>
                            <div class="info">
                                <img class="icon" src="../static/img/icon/people-fill.svg">
                                <div class="data">523</div>
                                <div class="unit">명 참여중</div>
                            </div>
                        </div>
                        <div class="room">
                            <div class="title">
                                <div class="number">2</div>
                                <div class="name">잠실동 리센츠</div>
                            </div>
                            <div class="info">
                                <img class="icon" src="../static/img/icon/people-fill.svg">
                                <div class="data">475</div>
                                <div class="unit">명 참여중</div>
                            </div>
                        </div>
                        <div class="room">
                            <div class="title">
                                <div class="number">3</div>
                                <div class="name">삼성동 삼성포스코더샵</div>
                            </div>
                            <div class="info">
                                <img class="icon" src="../static/img/icon/people-fill.svg">
                                <div class="data">298</div>
                                <div class="unit">명 참여중</div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest">
                        <div class="room">
                            <div class="title">
                                <div class="number">1</div>
                                <div class="name">잠원동 신반포메이플자이</div>
                            </div>
                            <div class="info">
                                <div class="data">22.12.26</div>
                                <div class="unit">OPEN</div>
                            </div>
                        </div>
                        <div class="room">
                            <div class="title">
                                <div class="number">2</div>
                                <div class="name">여의도동 아크로여의도더원</div>
                            </div>
                            <div class="info">
                                <div class="data">22.12.24</div>
                                <div class="unit">OPEN</div>
                            </div>
                        </div>
                        <div class="room">
                            <div class="title">
                                <div class="number">3</div>
                                <div class="name">삼성동 삼성포스코더샵</div>
                            </div>
                            <div class="info">
                                <div class="data">22.12.22</div>
                                <div class="unit">OPEN</div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</body>
</html>