<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="../static/bootstrap-5.3.0-alpha1-dist/bootstrap-5.3.0-alpha1-dist/css/" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    
    <link href="../static/css/chat.css" rel="stylesheet">
    <script src="../static/js/chat.js"></script>

    <title>Plice | 전자투표</title>
</head>

<body>
    <header></header>

    <div class="top-space"></div>

    <div class="contents-wrapper">

        <div class="left-side">
            <form class="search-wrapper">
                <img class="icon" src="../static/img/icon/search-icon.svg">
                <input class="search-input" type="text" placeholder="아파트로 채팅방 검색">
                <img class="reset" src="../static/img/icon/x-circle.svg">
            </form>
            <div class="null-wrapper">
                <div class="null">현재 참여중인 채팅방이 없습니다.</div>
            </div>
        </div>

        <div class="right-side">

            <div class="top3-wrapper">

                <div class="head">
                    <div class="title">
                        <img class="icon" src="../static/img/icon/chat-text.svg">
                       <span>채팅방 <strong>TOP3</strong></span> 
                    </div>
                    <div class="sort">
                        <div class="text title-popular">인기순</div>
                        <div class="text title-lastest">최신순</div>
                    </div>
                </div>

                <div class="body">

                    <div class="popular">
                        <div class="room">
                            <div class="title">
                                <div class="number">1</div>
                                <div class="name">일원동 래미안개포루체하임</div>
                            </div>
                            <div class="info">
                                <img class="icon" src="../static/img/icon/people-fill.svg">
                                <div class="text">현재</div>
                                <div class="data">523</div>
                                <div class="unit">명 참여중</div>
                            </div>
                        </div>
                        <div class="room">
                            <div class="title">
                                <div class="number">2</div>
                                <div class="name">잠실동 리센츠</div>
                            </div>
                            <div class="info">
                                <img class="icon" src="../static/img/icon/people-fill.svg">
                                <div class="text">현재</div>
                                <div class="data">475</div>
                                <div class="unit">명 참여중</div>
                            </div>
                        </div>
                        <div class="room">
                            <div class="title">
                                <div class="number">3</div>
                                <div class="name">삼성동 삼성포스코더샵</div>
                            </div>
                            <div class="info">
                                <img class="icon" src="../static/img/icon/people-fill.svg">
                                <div class="text">현재</div>
                                <div class="data">298</div>
                                <div class="unit">명 참여중</div>
                            </div>
                        </div>
                    </div>

                    <div class="lastest">
                        <div class="room">
                            <div class="title">
                                <div class="number">1</div>
                                <div class="name">잠원동 신반포메이플자이</div>
                            </div>
                            <div class="info">
                                <div class="data">22.12.26</div>
                                <div class="unit">오픈</div>
                            </div>
                        </div>
                        <div class="room">
                            <div class="title">
                                <div class="number">2</div>
                                <div class="name">여의도동 아크로여의도더원</div>
                            </div>
                            <div class="info">
                                <div class="data">22.12.24</div>
                                <div class="unit">오픈</div>
                            </div>
                        </div>
                        <div class="room">
                            <div class="title">
                                <div class="number">3</div>
                                <div class="name">삼성동 삼성포스코더샵</div>
                            </div>
                            <div class="info">
                                <div class="data">22.12.22</div>
                                <div class="unit">오픈</div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</body>
</html>