<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/default}">

<th:block layout:fragment="css"><link rel="stylesheet" href="/css/chat.css"></th:block>
<th:block layout:fragment="script"><script src="/js/chat.js"></script></th:block>
<th:block layout:fragment="title"><title>PLICE ㅣ 채팅</title></th:block>

<div layout:fragment="content">
  <div class="top-space"></div>
    <div class="contents-wrapper">
        <div class="left-side">
            <div class="search-wrapper">
                <img class="icon" src="/img/icon/search-icon.svg">
                <input class="search-input" type="text" placeholder="아파트로 채팅방 검색">
                <img class="reset" src="/img/icon/x-circle.svg">
            </div>
            <div class="search-result-outer-wrapper">
                <div class="search-result-wrapper" id="search-input-results">
                    <div class="search-result-chat-room-wrapper">
                        <div class="search-result-chat-room" th:each="chatRoom : ${chatRooms}"
                             th:data-id="${chatRoom.id}" th:data-name="${chatRoom.apartData.name}" th:data-member-count="${chatRoom.memberCount}">
                            <div class="inner-wrapper">
                                <div class="top-box">
                                    <div class="title">채팅방</div>
                                    <div class="member-count" th:text="${chatRoom.memberCount} + '명'"></div>
                                    <div class="join">참여하기 &gt;</div>
                                </div>
                                <div class="data" th:utext="${chatRoom.highlightName}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="null-wrapper">
                <div class="null" th:if="${myChatRooms == null}">현재 참여중인 채팅방이 없습니다.</div>
            </div>

            <div class="my-room" th:each="myChatRoom : ${myChatRooms}"
                 th:data-id="${myChatRoom.id}" th:data-name="${myChatRoom.apartData.name}" th:data-member-count="${myChatRoom.memberCount}">
                <div class="profiles">
                    <div class="img-wrapper">
                        <img src="/img/icon/profile.png">
                    </div>
                    <div class="img-wrapper">
                        <img src="/img/icon/profile.png">
                    </div>
                    <div class="img-wrapper">
                        <img src="/img/icon/profile.png">
                    </div>
                </div>
                <div class="info">
                    <div class="title">
                        <div class="text" th:text="${myChatRoom.apartData.name}"></div>
                        <div class="number" th:text="${myChatRoom.memberCount} + '명'"></div>
                    </div>
                    <div class="content">안녕하세요.</div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="chat-wrapper">
                <div class="chat" data-id="" data-member-phone="">
                    <div class="head">
                        <img class="exit-icon" src="/img/icon/chevron-left.svg">
                        <div class="exit">채팅방<br>나가기</div>
                        <div class="title">
                            <div class="data"></div>
                            <div class="member-count"></div>
                        </div>
                        <img class="close" src="/img/icon/close.png">
                    </div>
                    <div class="body" id="chat-box">
                    </div>
                    <form class="input-wrapper">
                        <textarea class="chat-input" type="text" placeholder="메시지를 입력하세요."></textarea>
                        <div class="regist-btn">
                            <div class="btn" id="chat-send">
                                <img src="/img/icon/send-fill.svg">
                            </div>
                            <div class="count">0/300</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="top3-wrapper">
                <div class="head">
                    <div class="title">
                        <img class="icon" src="/img/icon/chat-text.svg">
                        <div class="text">채팅방 <strong>TOP3</strong></div>
                    </div>
                    <div class="sort">
                        <div class="text title-popular active-sort">인기순</div>
                        <div class="text title-lastest">최신순</div>
                    </div>
                </div>
                <div class="body">
                    <div class="popular">
                        <div class="room">
                            <div class="back"></div>
                            <div class="title">
                                <div class="number">1</div>
                                <div class="name">일원동 래미안개포루체하임</div>
                            </div>
                            <div class="info">
                                <img class="icon" src="/img/icon/people-fill.svg">
                                <div class="data">523</div>
                                <div class="unit">명 참여중</div>
                            </div>
                            <div class="enter">입장하기 &gt;</div>
                        </div>
                        <div class="room">
                            <div class="back"></div>
                            <div class="title">
                                <div class="number">2</div>
                                <div class="name">잠실동 리센츠</div>
                            </div>
                            <div class="info">
                                <img class="icon" src="/img/icon/people-fill.svg">
                                <div class="data">475</div>
                                <div class="unit">명 참여중</div>
                            </div>
                            <div class="enter">입장하기 &gt;</div>
                        </div>
                        <div class="room">
                            <div class="back"></div>
                            <div class="title">
                                <div class="number">3</div>
                                <div class="name">삼성동 삼성포스코더샵</div>
                            </div>
                            <div class="info">
                                <img class="icon" src="/img/icon/people-fill.svg">
                                <div class="data">298</div>
                                <div class="unit">명 참여중</div>
                            </div>
                            <div class="enter">입장하기 &gt;</div>
                        </div>
                    </div>
                    <div class="lastest">
                        <div class="room">
                            <div class="back"></div>
                            <div class="title">
                                <div class="number">1</div>
                                <div class="name">잠원동 신반포메이플자이</div>
                            </div>
                            <div class="info">
                                <div class="data">22.12.26</div>
                                <div class="unit">OPEN</div>
                            </div>
                            <div class="enter">입장하기 &gt;</div>
                        </div>
                        <div class="room">
                            <div class="back"></div>
                            <div class="title">
                                <div class="number">2</div>
                                <div class="name">여의도동 아크로여의도더원</div>
                            </div>
                            <div class="info">
                                <div class="data">22.12.24</div>
                                <div class="unit">OPEN</div>
                            </div>
                            <div class="enter">입장하기 &gt;</div>
                        </div>
                        <div class="room">
                            <div class="back"></div>
                            <div class="title">
                                <div class="number">3</div>
                                <div class="name">삼성동 삼성포스코더샵</div>
                            </div>
                            <div class="info">
                                <div class="data">22.12.22</div>
                                <div class="unit">OPEN</div>
                            </div>
                            <div class="enter">입장하기 &gt;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>