<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9618200a7e0720f89b127c7968c0bb75&libraries=services,clusterer"></script>

    <link href="/css/map.css" rel="stylesheet">
    <script src="/js/map.js"></script>

    <title>Plice | 지도</title>
</head>

<body>
    <header>
        <div class="logo-wrapper" onclick="location.href='/'">
            <img src="/img/logo/plice.png">
            <div class="text">PLICE</div>
        </div>
        <span class="map" onclick="location.href='/map'">지도</span>
        <span class="chat" onclick="location.href='/chat'">채팅</span>
        <span class="post" onclick="location.href='/post'">이야기</span>
        <span class="contents" onclick="location.href='/contents'">컨텐츠</span>
        <span class="my-page" onclick="location.href='/my-page'">마이페이지</span>
        <div class="login-wrapper">
            <div class="login-btn" onclick="location.href='/login'">로그인</div>
        </div>
    </header>

    <div class="top-space"></div>

    <form class="top-wrapper" onsubmit="return false">
        <div class="left-box">
            <img class="icon" src="/img/icon/search-icon.svg">
            <input class="search-input" type="text" placeholder="아파트, 지역으로 검색">
            <img class="reset" src="/img/icon/x-circle.svg">

            <div class="search-result-outer-wrapper">
                <div class="search-result-wrapper" id="search-input-results">
                    <div class="search-result-apart-wrapper">
                        <div class="search-result-apart" th:each="apartData : ${apartDataList}" th:data-value="${apartData.name}">
                             <div class="inner-wrapper">
                                <div class="title">아파트</div>
                                <div id="apart-box">
                                    <span class="data" th:utext="${apartData.highlightName}"></span>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="search-result-address-wrapper">
                        <div class="search-result-address" th:each="addressData : ${addressDataList}" th:data-value="${addressData.address}">
                            <img src="/img/icon/geo-alt-fill.svg">
                            <span class="data" th:utext="${addressData.highlightAddress}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="right-box">
            <div class="left">
                <select name="tradeType" class="date">
                    <option value="">거래유형</option>
                </select>
                <select name="price" class="price">
                    <option value="">거래가</option>
                </select>
                <select name="area" class="households">
                    <option value="">평수</option>
                </select>
                <select name="buildYear" class="use-date">
                    <option value="">건축년도</option>
                </select>
            </div>
            <div class="right">
                <div class="reset-btn">초기화</div>
            </div>
        </div>
    </form>

    <div class="contents-warpper">
        <div class="left-box">
            <div class="trend-wrapper">
                <img class="fold" src="/img/icon/chevron-down.svg">
                <ul>
                    <li>
                        <div class="number">1</div>
                        <div class="data">검색어1</div>
                    </li>
                    <li>
                        <div class="number">2</div>
                        <div class="data">검색어2</div>
                    </li>
                    <li>
                        <div class="number">3</div>
                        <div class="data">검색어3</div>
                    </li>
                    <li>
                        <div class="number">4</div>
                        <div class="data">검색어4</div>
                    </li>
                    <li>
                        <div class="number">5</div>
                        <div class="data">검색어5</div>
                    </li>
                    <li>
                        <div class="number">6</div>
                        <div class="data">검색어6</div>
                    </li>
                    <li>
                        <div class="number">7</div>
                        <div class="data">검색어7</div>
                    </li>
                    <li>
                        <div class="number">8</div>
                        <div class="data">검색어8</div>
                    </li>
                    <li>
                        <div class="number">9</div>
                        <div class="data">검색어9</div>
                    </li>
                    <li>
                        <div class="number">10</div>
                        <div class="data">검색어10</div>
                    </li>
                    <li>
                        <div class="number">1</div>
                        <div class="data">검색어1</div>
                    </li>
                </ul>
            </div>

            <div class="date-chart-back">
                <div class="date-wrapper">
                    <div>
                        <span class="data">2022년 12월</span>
                        <span class="text">기준</span>
                    </div>
                </div>

                <div class="chart-wrapper">
                    <div class="chart">
                        <span class="text">전국 거래수</span>
                        <span class="data" th:text="${dataUtils.tradeCount}"></span>
                        <span class="unit">건</span>
                    </div>
                    <div class="chart">
                        <span class="text">최저 거래가</span>
                        <span class="data topData" th:text="${#numbers.formatInteger(dataUtils.tradeMin.price*10, 3, 'COMMA') + ',000'}"
                              th:data-lat="${dataUtils.tradeMin.lat}" th:data-lng="${dataUtils.tradeMin.lng}"></span>
                        <span class="unit">원</span>
                    </div>
                    <div class="chart">
                        <span class="text">최고 거래가</span>
                        <span class="data topData" th:text="${#numbers.formatInteger(dataUtils.tradeMax.price*10, 3, 'COMMA') + ',000'}"
                              th:data-lat="${dataUtils.tradeMax.lat}" th:data-lng="${dataUtils.tradeMax.lng}"></span>
                        <span class="unit">원</span>
                    </div>
                </div>
            </div>

            <div class="item-wrapper" id="items">
                <div class="loading">0%</div>
            </div>
        </div>

        <div class="right-box">
            <div class="loading"></div>
            <div id="map"></div>
            <div id="centerAddr"></div>
        </div>
    </div>


    <div class="apart-detail-wrapper">
        <div class="inner-wrapper">
            <div class="apart-detail">
                <div class="top">
                    <img class="close-btn" src="/img/icon/close.png">
                    <span class="title">아파트 상세정보</span>
                </div>
                <div class="body">
                    <div class="title-wrapper">
                        <img src="/img/icon/house.png">
                        <div class="right-box">
                            <div class="name"></div>
                            <div class="address"></div>
                        </div>
                    </div>
                    <div class="codeSaleNm">
                        <div class="label">분양형태</div>
                        <div class="data"></div>
                    </div>
                    <div class="kaptDongCnt">
                        <div class="label">동수</div>
                        <div class="data"></div>
                        <div class="unit">동</div>
                    </div>
                    <div class="hoCnt">
                        <div class="label">호수</div>
                        <div class="data"></div>
                        <div class="unit">호</div>
                    </div>
                    <div class="kaptdaCnt">
                        <div class="label">총 세대수</div>
                        <div class="data"></div>
                        <div class="unit">세대</div>
                    </div>
                    <div class="kaptBcompany">
                        <div class="label">시공사</div>
                        <div class="data"></div>
                    </div>
                    <div class="kaptAcompany">
                        <div class="label">시행사</div>
                        <div class="data"></div>
                    </div>
                    <div class="kaptTel">
                        <div class="label">관리사무소연락처</div>
                        <div class="data"></div>
                    </div>
                    <div class="kaptFax">
                        <div class="label">관리사무소팩스</div>
                        <div class="data"></div>
                    </div>
                    <div class="codeHeatNm">
                        <div class="label">난방방식</div>
                        <div class="data"></div>
                    </div>
                    <div class="codeMgrNm">
                        <div class="label">관리방식</div>
                        <div class="data"></div>
                    </div>
                    <div class="codeHallNm">
                        <div class="label">복도유형</div>
                        <div class="data"></div>
                    </div>
                    <div class="kaptUsedate">
                        <div class="label">사용승인일</div>
                        <div class="data year"></div>
                        <div class="unit">년</div>
                        <div class="data month"></div>
                        <div class="unit">월</div>
                        <div class="data day"></div>
                        <div class="unit">일</div>
                    </div>
                    <div class="kaptTarea">
                        <div class="label">연면적</div>
                        <div class="data"></div>
                        <div class="unit">m²</div>
                    </div>
                    <div class="kaptMarea">
                        <div class="label">관리비부과면적</div>
                        <div class="data"></div>
                        <div class="unit">m²</div>
                    </div>
                    <div class="privArea">
                        <div class="label">단지 전용면적합</div>
                        <div class="data"></div>
                        <div class="unit">m²</div>
                    </div>
                    <div class="kaptMparea">
                        <div class="title">전용면적별 세대현황</div>
                        <div class="box">
                            <div class="kaptMparea_60 inner-box">
                                <div class="label">60㎡ 이하</div>
                                <div class="data-box">
                                    <div class="data"></div>
                                    <div class="unit">세대</div>
                                </div>
                            </div>
                            <div class="kaptMparea_85 inner-box">
                                <div class="label">61㎡ ~ 85㎡</div>
                                <div class="data-box">
                                    <div class="data"></div>
                                    <div class="unit">세대</div>
                                </div>
                            </div>
                            <div class="kaptMparea_135 inner-box">
                                <div class="label">86㎡ ~ 135㎡</div>
                                <div class="data-box">
                                    <div class="data"></div>
                                    <div class="unit">세대</div>
                                </div>
                            </div>
                            <div class="kaptMparea_136 inner-box">
                                <div class="label">136㎡ 이상</div>
                                <div class="data-box">
                                    <div class="data"></div>
                                    <div class="unit">세대</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>
            (주)플라이스<br>
            사업자 번호: 000-00-00000&nbsp&nbsp&nbsp&nbsp통신판매업신고번호 : 제2023-서울 영등포-00000호<br>
            주소 : 서울특별시 영등포구 선유동2로 57 이레빌딩<br><br>

            고객센터 : 02-0000-0000 | 평일 10:00 ~ 18:30, 점심시간 : 12:00 ~ 13:00 (토·일요일, 공휴일 휴무)<br>
            팩스 : 02-000-0000&nbsp&nbsp&nbsp&nbsp프로모션/사업 제휴문의 : cerdure@gmail.com<br>
            PLICE, Inc. All rights reserved.
        </p>
        <div class="icons">
            <img src="/img/icon/instagram_mono.png">
            <img src="/img/icon/facebook_mono.png">
            <img src="/img/icon/blog_mono.png">
            <img src="/img/icon/naverpost_mono.png">
            <img src="/img/icon/youtube_mono.png">
        </div>
    </footer>
</body>

</html>