@media only screen and (max-width:1400px) {
    body {
        width: 1385px;
    }
}

.top-space {
    position: relative;
    width: 100%;
    height: 60px;
    flex: none;
}

.content-wrapper {
    display: flex;
    justify-content: center;
}

.right-side {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}

.right-side .head {
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
    font-size: 40px;
    font-weight: 900;
}

.right-side .body {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.right-side .body .create-account-btn {
    padding: 9px 30px;
    background-color: #557aff;
    color: white;
    border: 1px solid #4169fc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}
.right-side .body .create-account-btn:hover {
    background-color: #3662ff;
    transition: 0.3s;
}

.right-side .body .accounts-wrapper {
    width: 100%;
    height: 70%;
    display: flex;
}

.right-side .body .accounts-wrapper .outer-box {
    width: 100%;
    padding: 40px;
    border: 1px solid #d3ddff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 20px;
}

.right-side .body .accounts-wrapper .outer-box:first-child {
    margin-right: 40px;
}

.right-side .body .accounts-wrapper .inner-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.right-side .body .accounts-wrapper .inner-box .title {
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 30px;
    border-bottom: 1px solid #d3ddff;
}

.team-group {
    width: 100%;
}

.team-group:nth-child(2) {
    margin-top: 40px;
    margin-bottom: 20px;
}

.right-side .body .accounts-wrapper .inner-box .label {
    margin-bottom: 20px;
}
.team-group .members {
    width: 100%;
    padding: 0 40px;
}
.team-group .member {
    margin: 10px 0;
    font-size: 18px;
}
.info-box {
    width: 100%;
    height: 100%;
    display: flex;
}
.info-group {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.authority {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    white-space: nowrap;
}
.authority input {
    margin-right: 10px;
}
.info-group .reg,
.info-group .mod,
.info-group .access {
    margin-bottom: 20px;
}
.info-box .info {
    font-size: 14px;
}
.info-box .info .date,
.info-box .info .member,
.info-box .info .ip {
    display: flex;
    margin: 10px 0;
}

.info-box .info .text {
    width: 80px;
    white-space: nowrap;
}
.info-box .info .data {
    white-space: nowrap;
}





.btn-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-box .save-btn {
    width: 140px;
    padding: 9px 30px;
    text-align: center;
    color: white;
    background-color: #316ea5cc;
    border: 1px solid #316ea5cc;
    border-radius: 5px;   
    margin-right: 40px;
}
.btn-box .save-btn:hover {
    background-color: #0f3c63cc;
    transition: 0.3s;
}
.btn-box .delete-btn {
    width: 140px;
    padding: 9px 30px;
    color: white;
    background-color: rgb(243, 101, 129);
    border: 1px solid crimson; 
    border-radius: 5px;   
}
.btn-box .delete-btn:hover {
    background-color: crimson;
    transition: 0.3s;
}

