@media only screen and (max-width:1400px) {
    body {
        width: 1385px;
    }
}

.top-space {
    position: relative;
    width: 100%;
    height: 60px;
    flex: none;
}

.content-wrapper {
    display: flex;
    justify-content: center;
}

.left-side {
    width: 300px;
    height: calc(100vh - 60px);
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid silver;
    background-color: #f5f5f5;
    overflow: hidden;
}

.left-side .index {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-side .icon-wrapper {
    width: 45px;
    height: 45px;
    padding: 5px;
    flex: none;
    margin-right: 20px;
    border: 1px solid silver;
    border-radius: 30px;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side .index:not(.active-index) img {
    width: 25px;
    opacity: 0.5;
}

.left-side .text {
    width: 100%;
    font-size: 20px;
}

.active-index {
    background: linear-gradient(45deg, rgb(122 170 211 / 90%), rgba(53, 94, 252, .90)), url(../../../img/images/bg.png);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid silver;
    border-right: none;
    border-left: 10px solid white;
    transition: 0.5s;
}

.active-index .icon-wrapper {
    border: 1px solid white;
    transition: 0.5s;
}

.active-index img {
    width: 25px;
    filter: invert(34%) sepia(75%) saturate(2822%) hue-rotate(220deg) brightness(100%) contrast(99%);
    opacity: 1;
    transition: 0.5s;
}

.active-index .text {
    color: white;
    transition: 0.5s;
}


.right-side {
    width: 100%;
    height: calc(100vh - 60px);
}

.user-management {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.user-management::-webkit-scrollbar {
    width: 5px;
}

.user-management::-webkit-scrollbar-thumb {
    background-color: #4f72ff;
    border-radius: 10px;
}

.user-management .head {
    width: 100%;
    font-size: 40px;
    font-weight: 900;
    padding: 20px;
    padding-bottom: 0;
}

.user-management .body {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.search-wrapper {
    width: 50%;
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.search {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
}

.checkbox-wrapper {
    width: 150px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.checkbox-wrapper input {
    margin: 10px;
}

.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    border: 1px solid silver;
}

.search-by {
    border: none;
    outline: none;
    padding: 0 10px;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
}

.search-wrapper .reset {
    width: 15px;
    opacity: 0.2;
}

.search-wrapper .icon {
    width: 20px;
    margin: 0 10px;
}

.user-management .contents {
    width: 100%;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.user-management .contents .top {
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 0.7fr 0.7fr;
    justify-items: center;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
    background-color: #f1f7ff;
}

.user-management .user-info {
    width: 100%;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 0.7fr 0.7fr;
    align-items: center;
}

.user-management .user-info div {
    text-align: center;
}

.user-management .user-info input,
.user-management .user-info select {
    width: 90%;
    height: 30px;
    text-align: center;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: #3b5987;
}

.user-management .user-info div:first-child input {
    font-weight: 600;
}

.user-management .user-info .btn {
    width: 90%;
    height: 30px;
    line-height: 30px;
    color: #4169fc;
    border-radius: 5px;
    border: 1px solid #4169fc;
    margin-left: 10px;
}

.user-management .user-info .delete {
    border: 1px solid #3b5987;
    background-color: white;
    color: #3b5987;
}