<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/layout-content/login/login.css">
</th:block>
<th:block layout:fragment="script">
    <script src="/js/layout-content/login/login.js"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 로그인</title>
</th:block>

<div layout:fragment="content" class="meta-wrapper">
    <div class="top-space"></div>
    <div class="background"></div>
    <main class="login_container login_js">
        <h1 class="login_title">로그인</h1>
        <form action="/loginProc" method="post" class="login_info">
            <div class="login_user">
                <label for="login_id">휴대폰 번호</label>
                <input id="login_id" class="user" name="phone" placeholder="01012345678" onKeyup="onlyNumber(this)" />
                <label for="login_pwd">비밀번호</label>
                <input id="login_pwd" class="user" name="pw" type="password" placeholder="비밀번호 입력" />
            </div>
            <div class="login_join">
                <a class="login_join_btn btn" href="/sign-up">회원가입</a>
                <a class="login_repwd_btn btn">비밀번호 재설정</a>
            </div>
            <input class="login_btn" type="submit" value="로그인" />

            <div class="login_sns">
                <div class="border"></div>
                <div class="top_text">간편 로그인</div>
                <div class="btn_box">
                    <img class="kakao" src="/img/icon/kakao-icon-color.svg"/>
                    <img class="naver" src="/img/icon/naver-icon-color.svg"/>
                    <img class="google" src="/img/icon/google-icon-color.png"/>
                </div>
            </div>
        </form>

        <div class="pwd_find_container">
            <div class="pwd_find_header">
                <h1 class="pwd_find_title">비밀번호 재설정</h1>
                <i class="fas fa-times fa-2x"></i>
            </div>
            <div class="pwd_find_email">
                <h5 class="pwd_find_subtitle">
                    가입한 이메일 정보 입력 후 인증 메일 받기를 클릭하세요.
                </h5>
                <input class="pwd_find_check_input" type="email" placeholder="이메일" />
                <div class="accept_opt">
                    <label for="accept_code" id="code_text">인증번호 확인 :</label>
                    <input placeholder="인증번호를 입력해주세요." id="accept_code" />
                    <button class="accept_btn">확인</button>
                </div>
            </div>
            <button type="submit" class="pwd_find_btn">인증메일 받기</button>
        </div>
    </main>
</div>

</html>