@media only screen and (max-width:1400px) {
    body {
        width: 1385px;
    }
}

@media only screen and (max-width:1350px) {
    body {
        overflow-x: scroll;
    }
}

header .post {
    color: #5575ff;
}

.top-space {
    position: relative;
    width: 100%;
    height: 60px;
    flex: none;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1020px;
    background:
        linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255)),
        url("../../../img/images/background.jpg");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.write-form-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 11;
    display: none;
}

.write-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 742px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    z-index: 12;
}

.write-form .head {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 40px;
    background:
        linear-gradient(rgba(53, 94, 252, .90), rgba(53, 94, 252, .90)),
        url("../../../img/images/bg.png");
    background-size: 50%;
}

.write-form .head .text {
    position: relative;
    font-size: 20px;
    font-weight: 900;
    display: inline-block;
    color: white;
}

.write-form .head .close {
    position: absolute;
    right: 40px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
    filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
}

.write-form .body {
    padding: 20px 40px;
}

.write-form .write-title {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
}

.write-form .label {
    font-size: 14px;
    font-family: 'KOHIBaeumOTF';
    margin-top: 10px;
    margin-bottom: 5px;
}

.write-form .title-input {
    width: 100%;
    height: 40px;
    font-size: 14px;
    border: 1px solid silver;
    border-radius: 10px;
    resize: none;
    outline: none;
    line-height: 40px;
    text-indent: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.write-form .title-input::placeholder {
    color: rgb(150, 150, 150);
}

.write-form .content-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.write-form .content-frame {
    width: 100%;
    height: 400px;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 15px 20px;
}

.write-form .content-input {
    width: 100%;
    height: 350px;
    font-size: 14px;
    border: none;
    resize: none;
    outline: none;
    line-height: 20px;
}

.write-form .content-input::placeholder {
    color: rgb(150, 150, 150);
}

.write-form .content-input::-webkit-scrollbar {
    width: 3px;
}

.write-form .content-input::-webkit-scrollbar-thumb {
    height: 30%;
    background: cornflowerblue;
    border-radius: 10px;
}

.regist-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 40px;
    background-color: #4169fc;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.close-alert-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 13;
    display: none;
}

.close-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    z-index: 13;
    text-align: center;
    border: 1px solid silver;
}

.close-alert .text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.close-alert .cancel {
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    background-color: white;
    color: #3b5987;
    border: 1px solid #3b5987;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

.close-alert .okay {
    position: absolute;
    bottom: 40px;
    right: 50px;
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    background-color: white;
    color: #4169fc;
    border: 1px solid #4169fc;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

.close-alert .okay:hover {
    background-color: #4169fc;
    color: white;
    transition: 0.5s;
}

.close-alert .cancel:hover {
    background-color: #3b5987;
    color: white;
    transition: 0.5s;
}

.meta-wrapper {
    position: relative;
    width: 1280px;
    margin: auto;
}

.meta-title {
    font-size: 40px;
    font-family: 'KOHIBaeumOTF';
    padding: 40px;
    padding-bottom: 20px;
}

.story-title {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.notice-title {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    display: none;
}

.tag-wrapper {
    position: absolute;
    top: 75px;
    right: 0;
    width: 150px;
    overflow: hidden;
    border-radius: 0 10px 0 0;
    border-right: 1px solid silver;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.tag {
    position: relative;
    content: '';
    width: 150px;
    height: 40px;
    border-radius: 10px 0 0 0;
    border: 1px solid silver;
    border-bottom: none;
    transform:
        skew(-40deg) translate(30px, 0px);
    background-color: white;
}

.tag-wrapper:not(.active-tag-wrapper):hover .tag {
    background-color: #f1f7ff;
    transition: 0.5s;
}

.tag-wrapper:not(.active-tag-wrapper):hover .text {
    color: #4169fc;
    transition: 0.5s;
}

.tag-wrapper .text {
    position: absolute;
    top: 0;
    right: 20px;
    height: 100%;
    line-height: 47px;
    font-size: 20px;
    font-family: 'KOHIBaeumOTF';
}

.notice-tag-wrapper .text {
    right: 10px;
}

.active-tag-wrapper {
    z-index: 1;
}

.active-tag-wrapper .tag {
    background-color: #4169fc;
}

.active-tag-wrapper .text {
    color: white;
}

.story-tag-wrapper {
    right: 130px;
}

.frame {
    position: relative;
    width: 100%;
    border: 1px solid silver;
    border-top: none;
    border-radius: 10px 0 10px 10px;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 100px;
    overflow: hidden;
    z-index: 3;
}

.story-frame,
.notice-frame {
    display: flex;
    flex-direction: column;
}

.notice-frame {
    display: none;
}

.frame .head {
    width: 100%;
    padding: 20px;
    height: 100px;
    display: flex;
    background: linear-gradient(45deg, rgb(122 170 211 / 90%), rgba(53, 94, 252, .90)), url(../../../img/images/bg.png);
}

.count-wrapper {
    width: 20%;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 40px;
}

.count-wrapper .count {
    font-family: 'KOHIBaeumOTF';
    font-size: 25px;
    margin-right: 5px;
    color: white;
}

.count-wrapper .unit {
    position: relative;
    bottom: 2px;
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.search-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.search {
    width: 50%;
    height: 40px;
    border: 1px solid silver;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

.search .search-by {
    width: 20%;
    height: 100%;
    flex: none;
    outline: none;
    border: none;
    border-right: 1px solid silver;
    padding-left: 10px;
}

.search input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    text-indent: 10px;
    font-size: 20px;
}

.search input::placeholder {
    font-size: 14px;
}

.search .reset {
    width: 10%;
    padding: 12px;
    padding-right: 0;
    height: 100%;
    opacity: 0.3;
    display: none;
}

.search .icon {
    width: 10%;
    padding: 10px;
    height: 100%;
    margin-right: 5px;
}

.write-btn-wrapper {
    width: 10%;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.write-btn {
    width: 100px;
    height: 40px;
    border: 1px solid silver;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.write-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid skyblue;
    transition: 0.3s;
}

.write-btn img {
    width: 20px;
    margin-right: 5px;
    filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
}

.frame .body {
    width: 100%;
    background: #f4f7f9;
}

.table-head {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 5fr 1.5fr 1.5fr 1fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 0 40px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.table-body {
    width: 100%;
    min-height: 800px;
}

.table-row {
    width: calc(100% - 80px);
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 5fr 1.5fr 1.5fr 1fr;
    align-items: center;
    justify-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 10px 40px;
}

.table-row:hover {
    background-color: #f1f7ff;
    color: #4169fc;
    transform: scale(1.01);
    transition: 0.7s;
}

.table-row .title {
    display: flex;
}

.table-row .title .text {
    margin-right: 10px;
}

.table-row .title .reply-number {
    color: #c2cada;
    font-weight: 900;
}

.table-footer {
    width: 100%;
    height: 80px;
    border-top: 1px solid lightgray;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.1);
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.controller {
    position: relative;
    display: inline-block;
    width: 228px;
}

.controller-btn-left {
    position: absolute;
    top: 2px;
    left: 0px;
    display: inline-block;
    width: 20px;
    cursor: pointer;
}

.controller-btn-right {
    position: absolute;
    top: 2px;
    right: 0px;
    display: inline-block;
    width: 20px;
    cursor: pointer;
}

.controller a {
    display: inline-block;
    width: 19px;
    margin: 0 2px;
    border-radius: 50%;
    line-height: 19px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 900;
}

.index-active {
    background-color: cornflowerblue;
    color: white;
}