@media only screen and (max-width:1400px) {
  body {
    width: 1385px;
  }
}

@media only screen and (max-width:1350px) {
  body {
    overflow-x: scroll;
  }
}

header .post {
  color: #5575ff;
}

body {
  overflow-x: hidden;
}

.top-space {
  position: relative;
  width: 100%;
  height: 60px;
  flex: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1020px;
  background:
          linear-gradient(rgba(0, 0, 0, 0), rgb(255, 255, 255)),
          url("../../../img/images/background.jpg");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 0px -360px ; */
}

.modify-form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 11;
  display: none;
}

.modify-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 742px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  z-index: 12;
}

.modify-form .head {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 40px;
  background:
          linear-gradient(rgba(53, 94, 252, .90), rgba(53, 94, 252, .90)),
          url("../../../img/images/bg.png");
  background-size: 50%;
}

.modify-form .head .text {
  position: relative;
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
  color: white;
}

.modify-form .head .close {
  position: absolute;
  right: 40px;
  width: 20px;
  display: inline-block;
  cursor: pointer;
  filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
}

.modify-form .body {
  padding: 20px 40px;
}

.modify-form .write-title {
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}

.modify-form .label {
  font-size: 14px;
  font-family: 'KOHIBaeumOTF';
  margin-top: 10px;
  margin-bottom: 5px;
}

.modify-form .title-input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: 1px solid silver;
  border-radius: 10px;
  resize: none;
  outline: none;
  line-height: 40px;
  text-indent: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.modify-form .title-input::placeholder {
  color: rgb(150, 150, 150);
}

.modify-form .content-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.modify-form .content-frame {
  width: 100%;
  height: 400px;
  border: 1px solid silver;
  border-radius: 10px;
  padding: 15px 20px;
}

.modify-form .content-input {
  width: 100%;
  height: 350px;
  font-size: 14px;
  border: none;
  resize: none;
  outline: none;
  line-height: 20px;
}

.modify-form .content-input::placeholder {
  color: rgb(150, 150, 150);
}

.modify-form .content-input::-webkit-scrollbar {
  width: 3px;
}

.modify-form .content-input::-webkit-scrollbar-thumb {
  height: 30%;
  background: cornflowerblue;
  border-radius: 10px;
}

.regist-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 40px;
  background-color: #4169fc;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.alert-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  z-index: 13;
  text-align: center;
  border: 1px solid silver;
  display: none;
}
.alert-window .text{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.alert-window .cancel{
  position: absolute;
  bottom: 40px;
  left: 50px;
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  background-color: white;
  color: #3b5987;
  border: 1px solid #3b5987;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}
.alert-window .cancel:hover{
  background-color: #3b5987;
  color: white;
  transition: 0.5s;
}
.alert-window .okay{
  position: absolute;
  bottom: 40px;
  right: 50px;
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  background-color: white;
  color: #4169fc;
  border: 1px solid #4169fc;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}
.alert-window .okay:hover {
  background-color: #4169fc;
  color: white;
  transition: 0.5s;
}
.delete-alert {
  display: none;
}




.meta-wrapper {
  position: relative;
  width: 1280px;
  margin: auto;
}

.meta-title {
  font-size: 40px;
  /* font-family: 'Tenada'; */
  font-family: 'KOHIBaeumOTF';
  padding: 40px;
  padding-bottom: 20px;
}

.story-title {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.tag-wrapper {
  position: absolute;
  top: 74px;
  right: 0;
  width: 150px;
  overflow: hidden;
  border-radius: 0 10px 0 0;
  border-right: 1px solid silver;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.tag {
  position: relative;
  content: '';
  width: 150px;
  height: 40px;
  border-radius: 10px 0 0 0;
  border: 1px solid silver;
  border-bottom: none;
  transform:
          skew(-40deg) translate(30px, 0px);
  background-color: white;
}

.tag-wrapper:not(.active-tag-wrapper):hover .tag {
  background-color: #f1f7ff;
  transition: 0.5s;
}

.tag-wrapper:not(.active-tag-wrapper):hover .text {
  color: #4169fc;
  transition: 0.5s;
}

.tag-wrapper .text {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  line-height: 47px;
  font-size: 20px;
  font-family: 'KOHIBaeumOTF';
}

.notice-tag-wrapper .text {
  right: 10px;
}

.active-tag-wrapper {
  z-index: 1;
}

.active-tag-wrapper .tag {
  background-color: #4169fc;
}

.active-tag-wrapper .text {
  color: white;
}

.story-tag-wrapper {
  right: 130px;
}

.frame {
  position: relative;
  width: 100%;
  border: 1px solid silver;
  border-top: none;
  border-radius: 10px 0 10px 10px;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 100px;
  overflow: hidden;
  z-index: 3;
}

.story-content {
  display: flex;
  flex-direction: column;
}

.frame .head {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  background: linear-gradient(45deg, rgb(122 170 211 / 90%), rgba(53, 94, 252, .90)), url(../../../img/images/bg.png);
  align-items: center;
}

.frame .head .back {
  width: 50%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.frame .head .back .icon {
  width: 20px;
  filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
  margin-right: 10px;
}

.frame .head .back .text {
  color: white;
  font-size: 20px;
}

.btn-wrapper {
  width: 50%;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: end;
}

.btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  font-weight: 900;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modify-btn {
  margin-right: 20px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

.btn img {
  width: 20px;
  margin-right: 10px;
  filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
}

.delete-btn img {
  width: 18px;
}

.frame .body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frame .body .title-wrapper {
  width: 90%;
  padding: 20px 40px;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ced6ff;
}

.frame .body .title-wrapper .title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 5px;
}

.frame .body .title-wrapper .below {
  display: flex;
}

.frame .body .title-wrapper .below .writer {
  white-space: nowrap;
}

.frame .body .title-wrapper .below .split {
  margin: 0 10px;
}

.frame .body .title-wrapper .below .reg-date {
  width: 100%;
}

.frame .body .title-wrapper .below .hits {
  white-space: nowrap;
}

.frame .body .title-wrapper .below .reply {
  white-space: nowrap;
}

.content {
  width: 100%;
  min-height: 500px;
  padding: 40px 80px;
  line-height: 25px;
}


.comment-wrapper {
  width: 90%;
  padding: 40px;
  border: 1px solid #ced6ff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.comment-wrapper .sum {
  font-weight: 900;
  margin-bottom: 10px;
}

.comment-wrapper .comment {
  width: 100%;
  height: 38px;
  resize: none;
  padding-top: 10px;
  padding-right: 100px;
  outline: none;
  border: none;
  margin-bottom: 40px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0%);
}

.comment-wrapper .comment::placeholder {
  font-size: 14px;
}

.comment-underline {
  position: relative;
  bottom: 44px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
}

.comment-underline-back {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #6b8ab9;
}

.comment-wrapper .comment::-webkit-scrollbar {
  background-color: white;
}

.comment-wrapper .comment::placeholder {
  color: #afafaf;
}

.comment-wrapper .comment-button-save {
  position: relative;
  float: right;
  bottom: 35px;
  width: 70px;
  height: 30px;
  outline: none;
  border: 1px solid #4169fc;
  border-radius: 5px;
  background-color: white;
  color: #4169fc;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  display: none;
}

.comment-wrapper .comment-button-cancel {
  position: relative;
  float: right;
  bottom: 35px;
  width: 70px;
  height: 30px;
  outline: none;
  border: 1px solid #3b5987;
  border-radius: 5px;
  background-color: white;
  color: #3b5987;
  font-weight: 900;
  font-size: 14px;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  display: none;
}

.inner-comment {
  position: relative;
  font-size: 30px;
}

.inner-comment img {
  position: absolute;
  top: 10px;
}

.inner-comment strong {
  position: absolute;
  top: 8px;
  left: 25px;
  color: cornflowerblue;
}

.inner-comment .comment {
  padding-left: 30px;
}

.inner-comment .mod-comment {
  width: 100%;
  height: 38px;
  resize: none;
  padding-top: 10px;
  padding-right: 100px;
  outline: none;
  border: none;
  border-bottom: 1px solid silver;
  margin-bottom: 40px;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0%);
}

.inner {
  margin-left: 60px;
}

.my-comment {
  position: relative;
  font-size: 14px;
}

.my-comment .main {
  position: relative;
}

.my-comment .header {
  pointer-events: none;
}

.my-comment .header .name {}

.my-comment .header .date {}

.my-comment .header .edit {
  float: right;
  font-size: 12px;
  color: #848484;
}

.my-comment .header .remove {
  margin-left: 10px;
  float: right;
  font-size: 12px;
  color: #848484;
}

.my-comment .header .reply {
  margin-left: 10px;
  float: right;
  font-size: 12px;
  color: #848484;
}

.my-comment .body {
  width: 100%;
  display: block;
  padding: 5px 0px;
  padding-bottom: 20px;
  padding-right: 40px;
  margin-bottom: 20px;
  line-height: 25px;
  word-break: break-all;
}

.my-comment .option {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

.my-comment .option img {
  position: relative;
  top: -10px;
  width: 25px;
  padding: 2px;
  border-radius: 100%;
  filter: invert(31%) sepia(45%) saturate(587%) hue-rotate(176deg) brightness(93%) contrast(90%);
  color: #3b5987;
  cursor: pointer;
  display: none;
}

.my-comment .option img:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.my-comment .option .box {
  position: absolute;
  top: -10px;
  right: 30px;
  width: 90px;
  padding: 10px;
  border: 1px solid #ced6ff;
  border-radius: 5px;
  background-color: white;
  color: #8d8d8d;
  display: none;
}

.my-comment .option .box .edit {
  font-size: 14px;
  cursor: pointer;
}

.my-comment .option .box .remove {
  font-size: 14px;
  cursor: pointer;
}

.my-comment .option .box .reply {
  font-size: 14px;
  cursor: pointer;
}

.my-comment strong {
  color: cornflowerblue;
}


.other-story {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prev-detail {
  position: relative;
  width: 90%;
  height: 60px;
  border-radius: 10px;
  padding: 0 20px;
}

.prev-detail .prev {
  line-height: 60px;
}

.prev-detail .icon {
  position: relative;
  top: 2px;
  line-height: 60px;
  width: 15px;
  transform: rotate(180deg);
}

.prev-detail .title {
  line-height: 60px;
  text-decoration: none;
  margin-left: 20px;
}

.next-detail {
  position: relative;
  width: 90%;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0 20px;
}

.next-detail .next {
  line-height: 60px;
}

.next-detail .icon {
  position: relative;
  top: 2px;
  line-height: 60px;
  width: 15px;
}

.next-detail .title {
  line-height: 60px;
  text-decoration: none;
  margin-left: 20px;
}

.next-detail:hover,
.prev-detail:hover {
  background-color: #6989ff;
  color: white;
  transition: 0.5s;
}

.next-detail:hover img,
.prev-detail:hover img {
  filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
}

.back-btn {
  width: 150px;
  height: 40px;
  border: 1px solid #ced6ff;
  border-radius: 5px;
  color: #4169fc;
  text-align: center;
  line-height: 40px;
  margin: 30px auto;
  font-size: 18px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #4169fc;
  color: white;
  transition: 0.5s;
}
