@media only screen and (max-width:1400px) {
    body {
        width: 1385px;
    }
}

@media only screen and (max-width:1350px) {
    body {
        overflow-x: scroll;
    }
}

header .chat {
    color: #5575ff;
}

body {
    display: flex !important;
    flex-direction: column !important;
}

.top-space {
    position: relative;
    width: 100%;
    height: 60px;
    flex: none;
}

.contents-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
}

.left-side {
    position: relative;
    width: 370px;
    height: 100%;
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid silver;
}

.search-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    flex: none;
    display: flex;
    border-bottom: 1px solid silver;
    background-color: white;
}

.search-wrapper .search-input {
    position: relative;
    flex-grow: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-indent: 20px;
    font-size: 20px;
}

.search-wrapper .search-input::placeholder {
    font-size: 16px;
}

.search-wrapper .icon {
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    width: 25px;
    opacity: 0.6;
}

.search-wrapper .reset {
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    margin-right: 10px;
    width: 15px;
    opacity: 0.2;
}


.search-result-outer-wrapper {
    display: none;
}

.search-result-wrapper {
    position: absolute;
    top: 56px;
    left: 0px;
    border: 1px solid silver;
    border-top: none;
    background-color: white;
    z-index: 12;
    display: flex;
    box-shadow: 0px 2px 5px 0 rgb(0 0 0 / 30%);
}

.search-result-chat-room-wrapper {
    width: 368px;
    max-height: 475px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result-chat-room-wrapper::-webkit-scrollbar {
    width: 4px;
}

.search-result-chat-room-wrapper::-webkit-scrollbar-thumb {
    background-color: #4169fc;
    border-radius: 2px;
}

.search-result-chat-room {
    padding: 0 37px;
    width: 100%;
}

.search-result-chat-room:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

.search-result-chat-room:first-child {
    margin-top: 20px;
}

.search-result-chat-room:last-child {
    margin-bottom: 40px;
}

.search-result-chat-room .inner-wrapper {
    position: relative;
    width: 100%;
    margin: 10px auto;
    padding: 15px 30px;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 20%);
    border-right: 1px solid rgb(225, 225, 225);
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.search-result-chat-room .inner-wrapper .top-box {
    display: flex;
    font-size: 12px;
    color: #888888;
}

.search-result-chat-room .title {
    white-space: nowrap;
    margin-right: 10px;
}

.search-result-chat-room .member-count {
    white-space: nowrap;
    width: 100%;
}

.search-result-chat-room .join {
    white-space: nowrap;
}

.search-result-chat-room:hover .join {
    color: #4169fc;
    transition: 0.5s;
}

.search-result-chat-room .data {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: #a1a1a1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.search-result-wrapper strong {
    color: #005bff;
}

.null-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    color: silver;
}

.null {
    flex-shrink: 1;
    font-size: 20px;
}



.right-side {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:
        linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)),
        url("../../../img/images/background.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: 0.5;
}

.main-wrapper {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
}

.chat-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.chat-wrapper .chat {
    position: relative;
    max-width: 500px;
    width: 90%;
    height: 80%;
    background-color: white;
    border: 1px solid silver;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.chat-wrapper .chat .head {
    position: relative;
    width: 100%;
    height: 80px;
    background:
        linear-gradient(rgba(53, 94, 252, .90), rgba(53, 94, 252, .90)),
        url("../../../img/images/bg.png");
    background-size: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-wrapper .chat .head .exit-icon {
    position: absolute;
    left: 20px;
    width: 15px;
    filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
}

.chat-wrapper .chat .head .exit {
    position: absolute;
    left: 40px;
    font-size: 12px;
    color: white;
}

.chat-wrapper .chat .head .title {
    width: calc(100% - 120px);
    margin-left: 25px;
    text-align: center;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-wrapper .chat .head .title .data {
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    text-overflow: ellipsis;
    margin-right: 10px;
    color: #ffee5a;
}

.chat-wrapper .chat .head .title .member-count {
    font-size: 12px;
}


.chat-wrapper .chat .head .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
}

.chat-wrapper .chat .body {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow-y: scroll;
}

.chat-wrapper .chat .body::-webkit-scrollbar {
    width: 3px;
}

.chat-wrapper .chat .body::-webkit-scrollbar-thumb {
    background-color: #6781a8;
}

.info-wrapper,
.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.info-wrapper .chat-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.info-wrapper .content {
    color: #b5b5b5;
    background-color: #f7f6f6;
    padding: 10px 20px;
    border-radius: 20px;
    white-space: nowrap;
    max-width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
}

.chats-day-line {
    width: 100%;
    height: 1px;
    background-color: #719bd6;
    position: absolute;
    top: 10px;
}

.chats-day {
    position: relative;
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    color: #719bd6;
    background-color: white;
    z-index: 1;
}

.chat-box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.profile-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
}

.profile-wrapper img {
    width: 30px;
    border-radius: 25px;
    border: 1px solid gray;
}

.name-date-box {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.name-date-box strong {
    color: #719bd6;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 900;
    white-space: nowrap;
}

.name-date-box .date {
    color: #85a6d5;
    margin-top: 5px;
    font-size: 10px;
    white-space: nowrap;
}

.content-wrapper .content {
    background-color: #f4faff;
    padding: 15px;
    border-radius: 0px 20px 20px 20px;
    max-width: 50%;
    font-size: 14px;
    white-space: break-spaces;
}

.report {
    display: flex;
    align-items: end;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 12px;
    color: silver;
}

.my-chat {
    justify-content: end;
}

.my-chat .chat-box {
    justify-content: end;
}

.my-chat .content {
    background-color: #f0f4ff;
    border-radius: 20px 0px 20px 20px;
}

.my-chat .name-date-box strong {
    color: #7891ff;
    margin-right: 0;
    text-align: end;
}

.my-chat .name-date-box .date {
    text-align: end;
}

.isMine {
    display: none !important;
}

.last-chat-viewer {
    position: absolute;
    bottom: 120px;
    width: 300px;
    height: 34px;
    border-radius: 17px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: none;
    z-index: 2;
    animation: fade-in 0.3s both;
}

.last-chat-viewer img {
    filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
}

.last-chat-viewer .icon {
    padding: 8px;
    padding-left: 14px;
}

.last-chat-viewer .down {
    padding: 8px;
    padding-right: 14px;
}

.last-chat-viewer .text {
    width: 100%;
    line-height: 34px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-wrapper .chat .input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.1);
}

.chat-input {
    width: 80%;
    min-height: 60px;
    margin: 20px;
    margin-right: 0;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
    outline: none;
}

.chat-input::placeholder {
    color: silver;
}

.chat-input::-webkit-scrollbar {
    width: 3px;
}

.chat-input::-webkit-scrollbar-thumb {
    background-color: #5575ff;
}

.chat-wrapper .regist-btn {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chat-wrapper .regist-btn .btn {
    width: 60%;
    height: 34px;
    background:
        linear-gradient(rgba(53, 94, 252, .90), rgba(53, 94, 252, .90)),
        url("../../../img/images/bg.png");
    background-size: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chat-wrapper .regist-btn .count {
    font-size: 12px;
}

.chat-wrapper .regist-btn img {
    filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
    width: 20px;
}


.notice-wrapper {
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid silver;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

.notice {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.notice img {
    width: 40px;
    filter: invert(30%) sepia(30%) saturate(879%) hue-rotate(177deg) brightness(98%) contrast(89%);
    margin-right: 10px;
}

.notice .text {
    font-size: 20px;
    margin-right: 10px;
    white-space: nowrap;
}

.notice ul {
    position: relative;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.notice ul a {
    font-size: 20px;
    white-space: nowrap;
    margin: 18px 0;
}

.current-data-wrapper {
    position: relative;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: KOHIBaeumOTF;
}

.current-data-wrapper div:not(.left-box, .left-box .text-1) {
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 0.5s;
}

.current-data-wrapper .left-box {
    position: relative;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.current-data-wrapper .left-box .text-1 {
    font-size: 20px;
    color: #6781a8a1;
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.current-data-wrapper .left-box .text {
    animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation-delay: 0.5s;
}

.current-data-wrapper .data {
    position: relative;
    font-size: 70px;
    color: #4169fc;
    margin-left: 10px;
    align-items: end;
    display: flex;
}

.current-data-wrapper .unit {
    position: relative;
    font-size: 40px;
    line-height: 45px;
    color: #4169fc;
    align-items: end;
    display: flex;
}

.current-data-wrapper .text {
    font-size: 25px;
    display: flex;
    align-items: end;
    color: #6781a8;
}

.current-data-wrapper strong {
    font-size: 40px;
    font-weight: normal;
    line-height: 45px;
    margin-left: 10px;
}

.top3-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 1s;
}

.top3-wrapper .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.top3-wrapper .head .title {
    height: 36px;
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: 'KOHIBaeumOTF';
}

.top3-wrapper .head .title .icon {
    filter: invert(30%) sepia(30%) saturate(879%) hue-rotate(177deg) brightness(98%) contrast(89%);
    width: 40px;
    margin-right: 10px;
}

.top3-wrapper .head .title .text {
    padding-top: 8px;
}

.top3-wrapper .head .title strong {
    font-size: 30px;
}

.top3-wrapper .body {
    position: relative;
    width: 100%;
    height: 100%;
}

.selectRoom {
    display: none;
}

.popular {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.room {
    position: relative;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    background: white;
    border: 1px solid #ced6ff;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    margin: 0 20px;
}

.room .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(122 170 211 / 90%), rgba(53, 94, 252, .90)), url(../../../img/images/bg.png);
    opacity: 0;
}

.room::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(53, 116, 252, 0.9);
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.room:hover {
    color: white;
    transition: 0.5s;
}

.room:hover .back {
    opacity: 1;
    transition: 0.5s;
}

.room:hover .name {
    color: #fff389;
    transition: 0.5s;
}

.room:hover .info .data {
    color: #fff389;
    transition: 0.5s;
}

.room:hover .info .icon {
    filter: invert(100%) sepia(10%) saturate(7425%) hue-rotate(295deg) brightness(119%) contrast(104%);
    opacity: 1;
}

.room:hover .info .icon {
    color: white;
    transition: 0.5s;
}

.room:hover::before {
    background: white;
    border: 1px solid #ced6ff;
    transition: 0.5s;
}

.room .title {
    height: 34px;
    display: flex;
    font-size: 20px;
    font-weight: 900;
    margin-top: 20px;
    z-index: 1;
}

.room .title .number {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    border: 1px solid #ced6ff;
    border-radius: 5px;
    background-color: white;
    color: #4169fc;
    margin-right: 10px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

.room .title .name {
    line-height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.room .info {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;

}

.room .info .icon {
    width: 25px;
    margin-right: 10px;
    opacity: 0.5;
}

.room .info .text {
    margin-right: 10px;
}

.room .info .data {
    color: cornflowerblue;
    font-weight: 900;
    font-size: 20px;
}

.lastest {
    display: none;
    align-items: center;
    justify-content: center;
}

.lastest .room .info .data {
    font-size: 18px;
    margin-right: 10px;
}

.lastest .room .info .unit {
    font-weight: 900;
}

.room .enter {
    font-size: 14px;
    text-align: end;
    z-index: 1;
}

#my-rooms {
    width: 100%;
}

.my-room {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: first baseline;
}

.my-room:not(.active-room):hover {
    background-color: #f1f7ff;
    border: 1px solid #4169fc;
    color: #4169fc;
    transition: 0.5s;
}

.my-room .profiles {
    width: 100px;
    height: 100%;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.my-room .profiles .img-wrapper {
    width: 20px;
}

.my-room .profiles img {
    width: 40px;
    border-radius: 25px;
    border: 1px solid gray;
}

.my-room .info {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.my-room .info .title {
    display: flex;
}

.my-room .info .title .text {
    width: 150px;
    font-weight: 900;
    margin-right: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-room .info .content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.active-room {
    background: linear-gradient(45deg, rgb(122 170 211 / 90%), rgba(53, 94, 252, .90)), url(../../../img/images/bg.png);
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.active-room .info .title .text {
    color: #fff389;
}



.alert-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    z-index: 101;
    text-align: center;
    border: 1px solid silver;
    display: none;
}

.alert-window .info {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.alert-window .info .text {
    margin-bottom: 10px;
}

.alert-window .info .data {
    color: #ff0046;
}

.alert-window .cancel {
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    background-color: white;
    color: #3b5987;
    border: 1px solid #3b5987;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

.alert-window .cancel:hover {
    background-color: #3b5987;
    color: white;
    transition: 0.5s;
}

.alert-window .okay {
    position: absolute;
    bottom: 40px;
    right: 50px;
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    background-color: white;
    color: #4169fc;
    border: 1px solid #4169fc;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

.alert-window .okay:hover {
    background-color: #4169fc;
    color: white;
    transition: 0.5s;
}


.report-alert {
    height: 220px;
}

.report-alert .info {
    top: 40%;
}

.report-alert .text {
    margin: 20px !important;
    color: #7990b1;
}

.report-alert .label {
    text-align: start;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 900;
}

.report-alert select {
    width: 250px;
    height: 30px;
    border: 1px solid #b5c8d5;
}

.report-reason-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.report-alert .cancel,
.report-alert .okay {
    bottom: 30px;
}

.complete-alert .text {
    font-size: 18px;
}

.complete-alert .okay {
    width: 160px;
    right: 50%;
    transform: translateX(50%);
}