<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/layout-content/my-page/inquiry_write.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/layout-content/my-page/inquiry_write.js}"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 관심내역</title>
</th:block>

<div layout:fragment="content" class="meta-wrapper">
    <div class="top-space"></div>
    <div class="content_top">
        <h1 class="title">문의하기</h1>
    </div>
    <div class="content_bottom">
        <form class="wrapper" method="post" action="/inquiry_write">
            <input name="id" type="hidden" th:value="${inquire?.id}">
            <ul class="wrapper_inner_2">
                <li class="wrapper_inner_list">
                    <div class="list_left">문의유형</div>
                    <select class="list_right" name="type" th:value="${inquire?.type}">
                        <option th:selected="${inquire?.type == null}">선택</option>
                        <option th:selected="${inquire?.type} == '서비스 이용문의'">서비스 이용문의</option>
                        <option th:selected="${inquire?.type} == '단지 정보문의'">단지 정보문의</option>
                        <option th:selected="${inquire?.type} == '기타 문의'">기타 문의</option>
                        <option th:selected="${inquire?.type} == '장애/오류 신고'">장애/오류 신고</option>
                    </select>
                </li>
                <li class="wrapper_inner_list">
                    <div class="list_left">제목</div>
                    <input name="title" class="list_title" th:value="${inquire?.title}">
                </li>
                <li class="wrapper_inner_list">
                    <div class="list_left">문의내용</div>
                    <textarea name="content" class="list_content"
                              th:utext="${#strings.replace(inquire?.content, '<br>', '&#10')}"></textarea>
                </li>
            </ul>
            <div class="wrapper_inner_3">
                <div class="row-btn-1" onclick="formSubmit(this)">문의하기</div>
            </div>
        </form>
    </div>
</div>

</html>