<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/layout-content/my-page/inquiry_write.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/layout-content/my-page/inquiry_write.js}"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 관심내역</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>


    <div class="content_top">
        <h1 class="title">문의하기</h1>
    </div>
    <div class="content_bottom">
        <form class="wrapper" method="post" action="/inquiry_write">
            <input name="id" type="hidden" th:value="${inquire?.id}">
            <div class="wrapper_inner">
                <p>궁금하신 점을 문의해주세요.</p>
                <p>문의내역과 답변은 <a href="/inquiry">'1:1 문의내역'</a>
                    에서 확인하실 수 있습니다.</p>
            </div>
            <ul class="wrapper_inner_2">
                <li class="wrapper_inner_list">
                    <div class="list_left">문의유형</div>
                    <select class="list_right" name="type" th:value="${inquire?.type}">
                        <option th:selected="${inquire?.type == null}">선택</option>
                        <option th:selected="${inquire?.type} == '서비스 이용문의'">서비스 이용문의</option>
                        <option th:selected="${inquire?.type} == '단지 정보문의'">단지 정보문의</option>
                        <option th:selected="${inquire?.type} == '기타 문의'">기타 문의</option>
                        <option th:selected="${inquire?.type} == '장애/오류 신고'">장애/오류 신고</option>
                    </select>
                </li>
                <li class="wrapper_inner_list">
                    <div class="list_left">제목</div>
                    <input name="title" class="list_title" th:value="${inquire?.title}">
                </li>
                <li class="wrapper_inner_list">
                    <div class="list_left">문의내용</div>
                    <input name="content" type="textarea" class="list_content" th:value="${inquire?.content}">
                </li>
                <li class="wrapper_inner_list">
                    <div class="list_left">사진</div>
                    <div class="list_right_1">
                        <div class="list_right_top">
                            <div id="uploader" class="list_right_content_photo">
                                <img src="/img/images/camera2.png">
                                <input id="my-input" name="file" type="file"/>
                                <div class="button" onclick="onclick=document.all.file.click()">사진 첨부</div>                            </div>
                        </div>
                        <div class="list_right_bottom">
                            <p>사진 용량은 사진 한 장당 10MB 까지 등록이 가능합니다.</p>
                            <p>사진은 최대 3장까지 등록이 가능합니다.
                            </p>
                        </div>
                    </div>

                </li>
            </ul>
            <div class="wrapper_inner_3">
                <button type="submit" class="inner_inq">
                    문의하기
                </button>
            </div>

            <div class="wrapper_inner_4">
                <p class="inner_4_top">
                    고객센터 :
                    <span>02-1234-1234</span>
                </p>
                <p class="inner_4_bottom">
                    평일 10:00 ~ 18:30 (토, 일요일, 공휴일 휴무)
                </p>
            </div>
        </form>
    </div>

</div>


</html>