<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="/bootstrap-5.3.0-alpha1-dist/bootstrap-5.3.0-alpha1-dist/css/" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/css/layout-content/my-page/inquiry_write.css">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <header>
            <div class="logo-wrapper" onclick="location.href='/home'">
                <img src="/img/logo/plice.png">
                <div class="text">PLICE</div>
            </div>
            <span class="map" onclick="location.href='/map'">지도</span>
            <span class="chat" onclick="location.href='/chat'">채팅</span>
            <span class="post" onclick="location.href='/post'">이야기</span>
            <span class="contents" onclick="location.href='/contents'">컨텐츠</span>
            <span class="my-page" onclick="location.href='/my-page'">마이페이지</span>
            <div class="login-wrapper">
                <div class="login-btn" onclick="location.href='/login'">로그인</div>
            </div>
        </header>

        <div class="content_top">
            <h1 class="title">문의하기</h1>
        </div>
        <div class="content_bottom">
            <div class="wrapper">
                <div class="wrapper_inner">
                    <p>궁금하신 점을 문의해주세요.</p>
                    <p>문의내역과 답변은 <a href="/inquiry">'1:1 문의내역'</a>
                        에서 확인하실 수 있습니다.</p>
                </div>
                <ul class="wrapper_inner_2">
                    <li class="wrapper_inner_list">
                        <div class="list_left">문의유형</div>
                        <select class="list_right" name="type">
                            <option selected>선택</option>
                            <option>서비스 이용문의</option>
                            <option>단지 정보문의</option>
                            <option>기타 문의</option>
                            <option>장애/오류 신고</option>
                        </select>
                    </li>
                    <li class="wrapper_inner_list">
                        <div class="list_left">제목</div>
                        <input name="title" class="list_title">
                    </li>
                    <li class="wrapper_inner_list">
                        <div class="list_left">문의내용</div>
                        <input name="content" type="textarea" class="list_content">
                    </li>
                    <li class="wrapper_inner_list">
                        <div class="list_left">사진</div>
                        <div class="list_right_1">
                            <div class="list_right_top">
                                <div id="uploader" class="list_right_content_photo">
                                    <img src="/img/images/camera2.png">
                                    <input id="my-input" type="file" />
                                    <button id="btn-add" onclick="onClickUpload();">사진 첨부</button>
                                </div>
                            </div>
                            <div class="list_right_bottom">
                                <p>사진 용량은 사진 한 장당 10MB 까지 등록이 가능합니다.</p>
                                <p>사진은 최대 3장까지 등록이 가능합니다.
                                </p>
                            </div>
                        </div>

                    </li>
                </ul>
                <div class="wrapper_inner_3">
                    <button class="inner_inq">
                        문의하기
                    </button>
                </div>

                <div class="wrapper_inner_4">
                    <p class="inner_4_top">
                        고객센터 :
                        <span>02-1899-6840</span>
                    </p>
                    <p class="inner_4_bottom">
                        평일 10:00 ~ 18:30 (토, 일요일, 공휴일 휴무)
                    </p>
                </div>
            </div>
        </div>
        <footer>
            <p>
                (주)플라이스<br>
                사업자 번호: 000-00-00000&nbsp&nbsp&nbsp&nbsp통신판매업신고번호 : 제2023-서울 영등포-00000호<br>
                주소 : 서울특별시 영등포구 선유동2로 57 이레빌딩<br><br>
    
                고객센터 : 02-0000-0000 | 평일 10:00 ~ 18:30, 점심시간 : 12:00 ~ 13:00 (토·일요일, 공휴일 휴무)<br>
                팩스 : 02-000-0000&nbsp&nbsp&nbsp&nbsp프로모션/사업 제휴문의 : cerdure@gmail.com<br>
                PLICE, Inc. All rights reserved.
            </p>
            <div class="icons">
                <img src="/img/icon/instagram_mono.png">
                <img src="/img/icon/facebook_mono.png">
                <img src="/img/icon/blog_mono.png">
                <img src="/img/icon/naverpost_mono.png">
                <img src="/img/icon/youtube_mono.png">
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../js/inquiry_write.js"></script>

</body>

</html>