<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/layout-content/my-page/inquiry.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/layout-content/my-page/inquiry.js}"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 문의내역</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <div class="inquiry_wrapper">
        <div class="wrapper">
            <div>
                <h1 class="title">MY PLICE</h1>
                <ul class="item">
                    <li>
                        <a href="/my-page">내 정보</a>
                    </li>
                    <li>
                        <a href="/watchlist">관심목록</a>
                    </li>
                    <li>
                        <a href="/inquiry">1:1 문의내역</a>
                    </li>


                </ul>
            </div>
        </div>

        <div class="inquiry_content">
            <div class="content">
                <p>
                    최근 6개월 이내의 문의 내역을 확인하실 수 있습니다. (2021년 3월 이전에 문의하신 내용은 이메일로 답변을 발송하여 본 페이지에서 내역 확인이 불가합니다.)
                </p>
                <p>
                    문의하신 내용에 대한 수정 및 삭제는 답변 등록 이전에 가능합니다.
                </p>
                <p>
                    고객센터 답변 가능 시간 : 평일 10:00~18:30 (토, 일요일, 공휴일 휴무)
                </p>

            </div>
            <a th:href="'/inquiry_write?Id=0'">1:1 문의하기</a>
        </div>
        <article class="inquiry">
            <li class="inquiry-title">
                <div class="top type">문의유형</div>
                <div class="top name">제목</div>
                <div class="top regdate">등록일</div>
                <div class="top answer">답변상태</div>
            </li>

            <ul class="inquiry_bottom" th:each="inquire : ${inquireList}">
                <li class="bottom_contents" id="bottom_contents">
                    <div class="bottom type_2" th:text="${inquire.type}"></div>
                    <div class="bottom name_2" th:text="${inquire.title}"></div>
                    <div class="bottom regdate_2" th:text="${#temporals.format(inquire.regDate, 'yyyy년 MM월 dd일')}"></div>
                    <div class="answer_2" th:text="${inquire.isAnswered} == '1' ? '답변완료' : '미답변'"></div>
                </li>
                <div class="inquiry_box" id="inquiry_box">
                    <p class="inquiry_box_1">문의 내용</p>
                    <div class="inquiry_box_2" th:text="${inquire.content}"></div>
                    <div class="inquiry_change">
                        <a th:href="'/inquiry_write?Id=' + ${inquire.id}">수정</a>
                        <P></P>
                        <a th:href="'/delete?inquireId=' + ${inquire.id}">삭제</a>
                    </div>
                </div>

            </ul>

        </article>
    </div>

</div>

</html>