<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link href="/bootstrap-5.3.0-alpha1-dist/bootstrap-5.3.0-alpha1-dist/css/" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/css/layout-content/my-page/my-page.css">
</head>

<body>

    <div id="content_1">
        <header>
            <div class="logo-wrapper" onclick="location.href='/home'">
                <img src="/img/logo/plice.png">
                <div class="text">PLICE</div>
            </div>
            <span class="map" onclick="location.href='/map'">지도</span>
            <span class="chat" onclick="location.href='/chat'">채팅</span>
            <span class="post" onclick="location.href='/post'">이야기</span>
            <span class="contents" onclick="location.href='/contents'">컨텐츠</span>
            <span class="my-page" onclick="location.href='/my-page'">마이페이지</span>
            <div class="login-wrapper">
                <div class="login-btn" onclick="location.href='/login'">로그인</div>
            </div>
        </header>
    
        <div class="wrapper">
            <div>
                <h1 class="title_1">MY PLICE</h1>
                <ul class="item">
                    <li>
                        <a href="/my-page">내 정보</a>
                    </li>
                    <li>
                        <a href="/watchlist">관심목록</a>
                    </li>
                    <li>
                        <a href="/inquiry">1:1 문의내역</a>
                    </li>


                </ul>
            </div>
        </div>

        <div class="profile_wrapper">
                <div class="profile_wrap">
                    <div class="profile_box">
                        <div class="profile_image" size="96">
                            <img src="../img/profile.png">
                        </div>
                        <button id="upload" class="button"></button>
                    </div>
                    <div class="profile_name">
                        <label class="name_label">
                            <p class="label_text">아이디</p>
                            <input name="name" class="input_name" disabled>
                        </label>
                    </div>
                    <p class="profile_label">닉네임</p>
                    <div class="input_box">
                            <div class="input_left">
                                <input class="input_label" type="text" id="confirm" name="nickname" placeholder="한글 또는 영문만 가능" value="sfsf5975@naver.com" disabled>
                            </div>
                            <button id="send" class="button_right" color="gray"><span>확인</span></button>
                    </div>
                    <p class="profile_label">이름</p>
                    <div class="input_box">
                            <div class="input_left">
                                <input class="input_label" type="text" name="name" value="윤수호" disabled>
                            </div>
                            <button class="button_right" color="gray"><span>수정</span></button>
                    </div>
                    <p class="profile_label">휴대폰 번호</p>
                    <div class="input_box">
                            <div class="input_left">
                                <input class="input_label" type="text" name="phone" value="010-5102-5975" disabled>
                            </div>
                            <button class="button_right" color="gray"><span>수정</span></button>
                    </div>
                    <div class="privacy_label">
                        <div class="privacy_left">
                            <p class="title_privacy">
                                "개인정보 수집 및 이용 동의"
                                "(선택)"
                            </p>
                            <p class="caption_gray">선택정보 제공에 대한 동의를 거부하시는 경우에도</p>
                            <p class="caption_gray">서비스 이용이 가능합니다.</p>
                            <button color="gray" class="button_detail">
                                <span>상세보기</span>
                            </button>
                        </div>
                        <div class="privacy_right">
                            <button color="gray" class="button_right">
                                <span>수정</span>
                            </button>
                        </div>
                    </div>
                </div>



                <div id="container">
                    <button id="btn-modal">회원탈퇴</button>
                </div>


                <div id="modal" class="modal-overlay">
                    <div class="modal-window">
                        <div class="close-area">X</div>
                        <div class="title">
                            <h2>회원탈퇴</h2>
                        </div>
                        <div class="content">
                            <p class="content_inner_1">회원탈퇴를 신청하기전에 아래 안내 사항을 한번 더 확인해주세요.</p>
                            <ul class="content_inner_2">
                                <li>1. 회원 탈퇴 시, 현재 로그인된 아이디는 즉시 탈퇴 처리됩니다.
                                </li>
                                <li>
                                    2. 회원 탈퇴 시, 회원 전용 웹 서비스 이용이 불가합니다.
                                </li>
                                <li>
                                    3. 탈퇴 시 회원 정보 및 찜 서비스, 등록한 게시물 이용 기록이 모두 삭제됩니다.
                                </li>
                                <li>
                                    4. 회원 정보 및 서비스 이용 기록은 모두 삭제되며, 삭제된 데이터는 복구되지 않습니다.
                                </li>
                                <li>
                                    5. 광고를 위한 매물이 등록되어 있을 경우, 탈퇴 시 모든 정보는 삭제 처리됩니다.
                                </li>
                            </ul>
                            <select name="type" class="content_inner_3">
                                <option>탈퇴사유를 선택해주세요.</option>
                                <option>더 이상 이용하지 않음</option>
                                <option>탈퇴 후 재가입 하려고</option>
                                <option>원하는 정보가 없어서</option>
                                <option>사용하기 불편해서</option>
                            </select>
                            <textarea name="reason" placeholder="다른 사유가 있다면 입력해주세요." class="content_inner_4">
                            </textarea>
                            <label class="content_inner_5">
                                <input name="isAgree" type="checkbox">
                                <p>안내사항을 모두 확인하였으며, 이에 동의합니다.</p>
                            </label>
                        </div>
                        <div class="modal_bottom">
                            <button>탈퇴 완료</button>
                        </div>
                    </div>
                </div>
        </div>
        <footer>
            <p>
                (주)플라이스<br>
                사업자 번호: 000-00-00000&nbsp&nbsp&nbsp&nbsp통신판매업신고번호 : 제2023-서울 영등포-00000호<br>
                주소 : 서울특별시 영등포구 선유동2로 57 이레빌딩<br><br>
    
                고객센터 : 02-0000-0000 | 평일 10:00 ~ 18:30, 점심시간 : 12:00 ~ 13:00 (토·일요일, 공휴일 휴무)<br>
                팩스 : 02-000-0000&nbsp&nbsp&nbsp&nbsp프로모션/사업 제휴문의 : cerdure@gmail.com<br>
                PLICE, Inc. All rights reserved.
            </p>
            <div class="icons">
                <img src="/img/icon/instagram_mono.png">
                <img src="/img/icon/facebook_mono.png">
                <img src="/img/icon/blog_mono.png">
                <img src="/img/icon/naverpost_mono.png">
                <img src="/img/icon/youtube_mono.png">
            </div>
        </footer>
    </div>
    <script type="text/javascript" src="../js/my-page.js"></script>
</body>

</html>