<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout/default}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/layout-content/my-page/watchlist.css}">
</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/js/layout-content/my-page/watchlist.js}"></script>
</th:block>
<th:block layout:fragment="title">
    <title>PLICE ㅣ 관심내역</title>
</th:block>

<div layout:fragment="content">
    <div class="top-space"></div>
    <div class="inquiry_wrapper">
        <div class="wrapper">
            <div>
                <h1 class="title">MY PLICE</h1>
                <ul class="item">
                    <li>
                        <a href="/my-page">내 정보</a>
                    </li>
                    <li>
                        <a href="/watchlist">관심목록</a>
                    </li>
                    <li>
                        <a href="/inquiry">1:1 문의내역</a>
                    </li>


                </ul>
            </div>
        </div>

        <div class="main">
            <div class="main_title">
                <h2>관심목록</h2>
            </div>
            <div class="main_content">
                <div class="main_content_title">
                    <div>아파트명</div>
                    <div>거래일</div>
                    <div>면적</div>
                    <div>매매가</div>
                    <div>선택</div>
                </div>
                <div class="main_content_1">
                    <div>반포자이</div>
                    <div>2022년 11월 30일</div>
                    <div>132.439m^</div>
                    <div>430,000만원</div>
                    <div class="main_content_choice">
                        <button class="main_content_choice_top">상세보기</button>
                        <button class="main_content_choice_bottom">삭제</button>
                    </div>
                </div>
                <div class="main_content_1">
                    <div>반포자이</div>
                    <div>2022년 11월 30일</div>
                    <div>132.439m^</div>
                    <div>430,000만원</div>
                    <div class="main_content_choice">
                        <button class="main_content_choice_top">상세보기</button>
                        <button class="main_content_choice_bottom">삭제</button>
                    </div>
                </div>
                <div class="main_content_1">
                    <div>반포자이</div>
                    <div>2022년 11월 30일</div>
                    <div>132.439m^</div>
                    <div>430,000만원</div>
                    <div class="main_content_choice">
                        <button class="main_content_choice_top">상세보기</button>
                        <button class="main_content_choice_bottom">삭제</button>
                    </div>
                </div>
                <div class="main_content_1">
                    <div>반포자이</div>
                    <div>2022년 11월 30일</div>
                    <div>132.439m^</div>
                    <div>430,000만원</div>
                    <div class="main_content_choice">
                        <button id="btn-modal">상세보기</button>
                        <button class="main_content_choice_bottom">삭제</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

</html>