.success_container {
  width: 1200px;
  margin: 300px auto;
  text-align: center;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.success_img {
  margin-right: 100px;
  width: 40%;
}
.success_img img {
  width: 700px;
  height: 300px;
  transform: skew(145deg, 31deg);
}
.success_text {
  width: 60%;
}
.success_text .title {
  font-size: 30px;
}
.success_text .sub_title {
  font-size: 20px;
}
.success_paragraph {
  font-size: 15px;
}
.text_m {
  margin-bottom: 10px;
}
.home_btn {
  position: absolute;
  bottom: -150px;
  background-color: inherit;
  font-size: 20px;
  font-weight: bold;
  color: #3b5987;
}
